@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0
		}
		
#base_arriba {
	background:url(../images/nuevo/base_menu_prin.jpg) repeat-x;
	width:100%;
	height:64px;
	overflow:hidden
	}

.menu_principal {
	margin:10px auto 0 auto;
	width:987px;
	height:43px;
	}
	
.logo {
	background:url(../images/nuevo/logo_mincul.jpg);
	width:218px;
	height:43px;
	overflow:hidden;
	float:left
	}
	
.menu_superior {
	width: 650px;
	height:43px;
	float:left;
	/*margin-left:95px;*/
	/*margin-right:13px;*/
	padding-left:40px;
	}
	
.menu_superior ul {
	display:block;
	padding:0;
	margin:0;
	width:auto!important
	}
	
.menu_superior ul li {
	float:left;
	list-style:none;
	padding-right:12px;
	padding-left:12px;
	border-right:1px solid #999;
	padding-top:6px;
	padding-bottom:6px;
	margin-top:7px
	}
	
.menu_superior ul li a {
	font-weight:bold;
	font-size:11px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	color:#2A2A2A!important;
	padding-top:115px!important;
	padding-bottom:15px;	
	}
	
.menu_superior ul li a:hover {
	color:#de0520!important
	}

.icon_sociales {
	width:68px;
	height:22px;
	float:left;
	margin-top:9px;
	}
	
.icon_sociales ul {
	display:block;
	padding:0;
	margin:0
	}
	
.icon_sociales ul li{
	list-style:none;
	float:left;
	margin-left:10px;
	}
	
.icon_sociales ul li a img{
	border:0!important
	}
	
#base_segunda {
	background:url(../images/nuevo/base_segunda_barra.jpg) repeat-x;
	width:100%;
	height:45px;
	overflow:hidden
	}
	
#segunda {
	margin:0px auto 0px auto;
	width:987px;
	height: auto;
	}
	
#base_cuerpo {
	background:url(../images/nuevo/base_contenido.jpg) repeat-x;
	width:100%;
	height: auto;
	overflow:hidden
	}
	
.cuerpo {
	margin:20px auto 20px auto;
	width:987px;
	height: auto;
	border:1px solid #999;
	overflow:hidden;
	background-color:#FFF
	}
	
.botonera_lateral {
	margin:0;
	width:25%;
	height: auto;
	float:left;
	background:#87949a;
	overflow:hidden
	}
	
.contenido_cuerpo {
	margin:0;
	width:75%;
	height: auto;
	background:#FFF;
	float:left;
	overflow:hidden
	}
	
#base_pie {
	background:url(../images/nuevo/base_pie.jpg) repeat-x;
	width:100%;
	height:101px;
	overflow:hidden
	}
	
.pie {
	margin:30px auto 0 auto;
	width:987px;
	height:43px;
	}
	
.direccion {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	width:200px;
	float:right;
	text-align:right
	}
	
.logo_inferior {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	width:700px;
	float:left
	}
	
.logo_inferior ul {
	padding:0;
	margin:0;
	width:auto!important
	
	}
	
.logo_inferior ul li {
	float:left;
	padding:4px 10px 4px 10px;
	border-left:1px solid #FFF;
	margin: 5px 0 0 0;
	list-style:none
	
	}
	
	
	/*inicio de estilos acordeon*/
	
	#menu{
			
		}
		#menu li{ padding-bottom:10px}
		.nivel1{background-image:url(../images/nuevo/base_botonera_lateral.jpg); background-repeat:repeat-x; background-position:0 0; padding:10px 0px 10px 0px}
		.nivel1 a{color:#FFF; font-family: 'Cuprum', sans-serif; text-decoration:none; padding:0 0 0 25px}
		.nivel2 { background-color:#99a6ac!important}
		.nivel2 a{color:#FFF; font-family: 'Cuprum', sans-serif; text-decoration:none; padding:0 0 0 25px}
		.nivel3 { background-color:#acbac0!important}
		.nivel3 a{color:#FFF; font-family: 'Cuprum', sans-serif; text-decoration:none; padding:0 0 0 25px}
		
		#menu ul li { border-bottom:1px solid #a5b1b6; padding-top:7px}

		#menu li:last-child{border:none}
		#menu ul li li{padding-left: 5px; border-bottom:1px solid #a5b1b6; padding-top:7px}
		
		#menu a:hover{
			color:#87949a;
		}
		#menu ul a{	width:100%; }
		#menu ul a:hover{
			color:#3b4a51;
			text-shadow:none;
			margin-top:20px
		}
		ul{
			display:block;
			margin:0;
			padding:0;
			width:100%;
			list-style:none;
		}
		#menu ul{background-color:#87949a}
		#menu li ul {display:none; margin-top:10px}
		.contiene {
			background-image:url(../images/nuevo/flecha.jpg);
			background-repeat:no-repeat;
			background-position: 8px 10px
			}
		
	.sesion {
	float:right;
	font-family: 'Cuprum', sans-serif;
	color:#FFF;	  

	/*height:50px;*/
		}	
		
	.caja {
	width:110px;
	/*display:none;*/
	padding:5px;
	background-color:#951d17;


	padding:5px;
	background-color:#7e1813;
	margin-bottom:2px;

	cursor:pointer
	}

	.item_sesion{
	font-family: 'cuprumffuregular', sans-serif;
	font-size:11px;
	margin-left:-25px;
	font-weight:bold;
	color:#FFF;
	}
	
.flecha {
	float:left;
	margin-left:5px;
	margin-top:7px;
	margin-right:5px;
	width:10px;
	height:10px;
	background-image:url(../images/nuevo/flecha01.png);
	
	}


.mostrar{
	overflow:hidden;
display:block;
width:110px;
padding:5px;
margin-top:8px;
background-image:url(../images/nuevo/base_btn_sesion.jpg);
background-repeat:repeat-x
}

.usuario {
	font-family: 'Cuprum', sans-serif;
	float:right;
	text-align:right;
	color:#999;
	margin-top:13px;
	margin-right:25px	
	}
	
.nombreUser {
	color: #FFF	;
	text-align:right;
	font-family: 'Cuprum', sans-serif;
	}
	
	/*fin de estilos acordeon*/
	
	.contiene {
			background-image:url(../images/nuevo/flecha.jpg);
			background-repeat:no-repeat;
			background-position: 8px 10px
			}
	
	    .nivel1{background-image:url(../images/nuevo/base_botonera_lateral.jpg); background-repeat:repeat-x; background-position:0 0; padding:10px 0px 10px 0px;color:#FFF; font-family: 'Cuprum', sans-serif; text-decoration:none; padding:0 0 0 0px;font-size:14px}
	
		.nivel2 { color:#FFF; font-family: 'Cuprum', sans-serif; text-decoration:none; padding:0 0 0 0px; font-size:13px; background-color:#99a6ac!important}
		
		.nivel3 {color:#FFF; font-family: 'Cuprum', sans-serif; text-decoration:none; padding:0 0 0 0px; font-size:12px; background-color:#acbac0!important}
	
	
	.titu_text_login {
	width:90px;
	font-weight:bold;
	background-color:#c92c27;
	padding:7px;
	color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:center;
	float:left;
	margin:0 10px 0 0px;
	/*para Firefox*/
	-moz-border-radius: 3px 3px 3px 3px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 3px 3px 3px 3px;
	/* para Opera */
	border-radius: 3px 3px 3px 3px;
	}
	
	.botones_login_uno {
	background-color:#0161cd!important;
	background-image: url("../images/fdoBtnRojo2.gif")!important;
	padding:8px;
	color:#FFF!important;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif!important;
	font-size:12px!important;
	/*width:150px;*/
	font-weight:bold;
	/*para Firefox*/
-moz-border-radius: 3px 3px 3px 3px;
/*para Safari y Chrome*/
-webkit-border-radius: 3px 3px 3px 3px;
/* para Opera */
border-radius: 3px 3px 3px 3px;
	}
	
	.intro_text_login {
	width:250px;
	font-size:14px;
	padding:5px;
	color:#666!important;
	}
	
	.intro_text_CambioClave {
	width:125px;
	font-size:14px;
	padding:5px;
	color:#666!important;
	}
	
	.cuerpo_login {
	background-color:#ebebeb;
	border:3px solid #CCC;
	padding:60px 20px 40px 20px;
	width:380px;
	float:left
	margin:20px auto 20px auto;
	height: auto;
	overflow:hidden
	}
	
 .cuerpo_inicio {
	margin:20px auto 20px auto;
	width:987px;
	height: auto;
	overflow:hidden;
	}
	
h2 {
    font-family: 'Cuprum',sans-serif;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    text-align: left;
    width: 987px;
	font-weight: bold;
}

	/*  INICIO*/
	
.mant {
	font-family:Arial, Helvetica, sans-serif;
	background-color:#cacaca;
	margin:0;
	padding:0
	}
	
#todo {
	background-image:url(../images/acceso_restringido.jpg);
	background-repeat:no-repeat;
	width:600px;
	height:370px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden
	}

.textoMinist {
	font-size:12px;
	text-align:center;
	color:#575555;
	margin-top:300px
	}
	
	
.contenidoBtnesCambioClave{
	/*background-image: url("../images/fdoTablaPrincipal2.gif");*/
	background-position: center top;
	background-repeat: repeat-x;
   /* background-color: #F9F7F7;*/
    border: 3px solid #E3E3E3;
    color: #333333;
    /*float: left;*/
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    height: auto;
    margin: 1px;
    padding: 12px;
    vertical-align: top;
}
	
	
	/*
.usuario {
	font-family: 'Cuprum', serif;
	float:right;
	text-align:right;
	color:#999;
	margin-top:13px;
	margin-right:25px	
	}
	
.usuario b {
	color: #FFF	;
	text-align:right;
	font-family: 'Cuprum', serif;
	}

.sesion {
	float:right;
	font-family: 'Cuprum', serif;
	color:#FFF
		}	
		
.sesion a {
	font-family: 'Cuprum', serif;
	color:#FFF;
	text-decoration:none
		}	
	
#caja {
width:110px;
display:none;
padding:5px;
background-color:#951d17;
position:absolute
}

#caja li {
padding:5px;
background-color:#7e1813;
margin-bottom:2px
}

#caja li a{
	cursor:pointer
}

#mostrar{
overflow:hidden;
display:block;
width:110px;
padding:5px;
margin-top:8px;
background-image:url(../images/nuevo/base_btn_sesion.jpg);
background-repeat:repeat-x
}*/

















.amTabTabs {
border-spacing: 2px 0px;
}
.amTabTabs td {
height: 18px;
}

.amTabPanel {
margin-bottom: 10px;
}
.amTabPanel strong{
font-weight: bold;
}
.amTabTabs .amTab{
	width: 100%;
	display: block;
	height: 100%;
	line-height: 24px;
	text-align: center;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 6px;	
	-w-border-radius: 6px;	
	-o-border-radius: 6px;	
	-moz-border-radius: 6px;
	text-decoration: none;	
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.amTabTabs .amTab.active{
	background: #333!important;
	border: 1px solid #666!important;
	color: #FFF!important;
}
.amTabTabs .amTab:hover{
	background: #DDD;
	border: 1px solid #999;
	color: #333;
}
.amTabContent {
	border: 1px solid #CCC;
	margin: 0px 1px;
	padding: 10px;
	border-radius: 6px;
	font-size: 12px;
	margin-bottom: 10px;
}
.amTabCC{
	display: none;
}
.amTabCC.active{
	display: block;
}

.zoom {
    display:block;
    position: relative;
}
.zoom:after {
    content:'';
    display:block; 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    /*background:url(../images/iconlupa.png);*/
}

.zoom img {
    display: block;
    margin: auto;
}

.zoom img::selection { background-color: transparent; }
.zoom p { position:absolute; top:3px; right:28px; color: #FFF;
text-shadow: 0px 0px 5px #555; font:bold 13px/1 sans-serif;}

.inputfUp{
	width: 100%;
}

.top{
	vertical-align: top;
}

.tmceLimitChar {
	text-align: right;
	font-size: 10px;
	float: right;
}
.oculto{
	display: none;
}
div.zoomImg{
	background: #FFF;
text-align: center;
}



.amTBLFicha {
    font-size: 11px;
    color: #000;
}
.amTBLFicha table {
    width: 100%;
    background:  #C0C0C0;
    padding:auto;
    margin:auto;
    border-spacing: 1px;
}

.amTBLFicha table thead th {
    background: #ECF4FE;
    vertical-align:middle;
}
.amTBLFicha table tr {
    background: #FFF;
}
.amTBLFicha table td {
    padding:4px;
}
.amTBLFicha table tfoot tr{
    background:#CCC;
}

.amTBLFicha .paginado a {
    border: 1px solid #BED6F8;
    padding: 4px;
    text-decoration:none;
    color: #0090FF;
    background: #FFFFFF;
}

.amTBLFicha .paginado a:hover {
    color:#333;
}
.amTBLFicha .paginado a.activo {
    background:#333;
    color:#FFF;
}

.amTBLFicha .paginado{
     margin:4px;
}


div#cabecFicha .cfItem, div#pnlFichaAsoc .cfItem {
    display: block;
    float: left;
    width: 18%;
    position: relative;
    background: #FFF;
    padding: 4px;
    border: 1px solid #CCC;
    margin: 2px;
    font-size: 11px;
    overflow: hidden;
}
div#cabecFicha:after, div#pnlFichaAsoc:after {
    content: '';
    display: block;
    clear: both;
}
div#cabecFicha, div#pnlFichaAsoc {
    margin-bottom: 10px;
}
.cfItem div.cgImg {
    width: 50px;
    float: left;
}
.cfItem div.cfText {
    line-height: 16px;
    text-align: center;
}
.cfItem .cfLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
}
.cfItem:hover {
    border: 1px solid #0090FF;
}


.cfItem.selec{
	border: 1px solid #00A3FF!important;
	
	background: #D2EFFF!important;
}
div#pnlFichaAsoc {
	border: 1px solid #333;
	
	border-radius: 2px;
	position: relative;
	padding-top: 12px;
}

.asocTitulo{
	color: #FFF;
	font-size: 14px;
	z-index: 100;
	position: absolute;
	top: -15px;
	margin: 0 10px;
	background: #333;
	border: 2px solid #FFF;
	padding: 4px;
	text-align: center;
	border-radius: 6px;
}

.cfItem:hover {
border: 1px solid #0090FF!important;
}

.detallesBody{
	position: relative;
}

#loadBMU{
	position: absolute;
	z-index:20px;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../images/loadBMU.gif) ;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(255,255,255,0.4);
}


#toTop{
	background: url('../images/toup.png') no-repeat;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#toBandeja{
	background: url('../images/tobandeja.png') no-repeat;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 80px;
}

/********************/
.sysname {
font-family:sans-serif;
color:#979793;
text-transform:uppercase;
font-size:12px;
padding-top:6px;
position:relative; 
margin: 0 auto;
width:980px;

font-style:italic;
font-weight:bold;

}

.amTabTex{
    width: 100%;
    display: block;
    /*height: 100%;*/
    line-height: 24px;
    text-align: center;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
    /*-w-border-radius: 6px;  
    -o-border-radius: 6px;  
    -moz-border-radius: 6px;*/
    text-decoration: none;  
    /*cursor: pointer;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #0078d0;    
}
.amTabTex.active{
    background: #333!important;
    border: 1px solid #666!important;
    color: #FFF!important;
    font-weight:bold !important;  
    box-shadow: 0 0 2px #0E2945 !important; 
}
/*.amTabTex:hover{
    background: #DDD;
    border: 1px solid #999;
    color: #333;
    box-shadow: 0 0 2px #0E2945 !important; 
}*/


.preloaderCss {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;    
    z-index: 100;  
    overflow: hidden;      
    background:#000;
    background:rgba(0,0,0,0.5);      
	filter:alpha(opacity=50);	
}

.loaderCss {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;	
	width: 320px;
    height: 60px;       
    background-color: #FFF;	
	border: 1px solid #BED6F8;	
	padding: 4px;			
	box-shadow: 0 0 2px #fff;
	border-radius: 2px;
	
	text-align: center; 
    font-family: 'Cuprum', sans-serif;
	font-size: 16px;
	color:#999;
	font-style:italic;
}