/*.msgInfo {
 width: 100%;
 border: 1px solid;
 color: #fff;
 padding: 10px;
 position: fixed;
 _position: absolute;		 
 margin: 0;	
 background-color: #4ea5cd;
 border-color: #3b8eb5;
 bottom:0px;
 z-index:1000;
}*/

.msgInfo {
 width: 100%;  
 position: fixed;
 _position: absolute;		 
 margin: 0;	 
 bottom:0;
 z-index:1000; 
}

.msgValidator { 
 /*padding: 11px 11px 11px 15px;
 font-weight: bold;
 padding-left: 20px;
 color: #fff; 
 background-color: #3497FF;
 font-family: Arial,Verdana,sans-serif;
 font-size: 11px;
 margin-bottom:5px;*/
 color: #fff; 
 background-color: #3497FF;
 border-style:none;
 border-color:none; 
}

.msgErrorNegocio { 
 color: #fff; 
 background-color: #3497FF;
 border-style:none;
 border-color:none; 
}

.msgCorrecto { 
 color: #fff; 
 background-color: #649900;
 border-style:none;
 border-color:none; 
}

.msgError {
 color: #fff; 
 background-color: #CD0100; 
 border-style:none;
 border-color:none;  
}

/*
.rich-panel-body{
 background-image:none;
}
*/

.validacionReporte{
	background-color: none  important!;
	color: red important!;
}




.rf-msgs-inf { 
 color: #fff; 
 padding: 12px 11px 11px 15px;
 font-weight: bold;
 padding-left: 20px;  
 background-color: #649900;
 font-family: Arial,Verdana,sans-serif;
 font-size: 12px;
 margin-bottom:5px; 
}


.rf-msgs-err{ 
 color: #fff; 
 padding: 12px 11px 11px 15px;
 font-weight: bold;
 padding-left: 20px; 
 background-color: #DA6F07;
 font-family: Arial,Verdana,sans-serif;
 font-size: 12px;
 margin-bottom:5px; 
}


.rf-msgs-wrn{
 color: #fff; 
 padding: 12px 11px 11px 15px;
 font-weight: bold;
 padding-left: 20px; background-color: #990100;
 font-family: Arial,Verdana,sans-serif;
 font-size: 12px;
 margin-bottom:5px;  
}

