<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

 
<ui:composition 
   xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich"> 
              
              <h:panelGrid columns="1">
                <h:outputText value="Bienvenido(a): #{sessionScope['DATOS_USUARIO']}"/>
                <h:outputText value="#{sessionScope['NOMOFICINA']}"/>
              </h:panelGrid>   
        <rich:separator height="2" lineType="dotted"/><br/>
        <!--Descargar Manual de Usuario-->
                       
          
</ui:composition>

</html>