<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">
      
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
	<title><ui:insert name="titulo">Titulo del documento</ui:insert></title>
    <link href="../../common/css/style.css" rel="stylesheet" type="text/css" />
	<script src="../../common/js/comun.js"></script>		
	<link rel="shortcut icon" type="image/x-icon" href="../../common/images/iconoSINAR.ico"  />	
	<link href="../../common/css/estilos.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'/>   
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>  -->
	<a4j:form id="frmJSObtenerFecha">
            <a4j:jsFunction name="inicializarFormulario"  ajaxSingle="true"  actionListener="#{beanLogin.obtenerFechaActual}">
     		</a4j:jsFunction>
			
     </a4j:form>
	
</head>
	<body  onload="inicializarFormulario();" >
	<!-- Deshabilita teclas en toda la pagina disableBackButton(); -->
	  <rich:hotKey key="backspace" handler="return false;" disableInInput="true"/>	
	<rich:hotKey key="f5" handler="return false;" disableInInput="true"/>	<!-- //F5 FIREFOX -->
	<!-- ************************************ -->	
	<div class="contenidoLogin">
		<ui:insert name="cabecera">Cabecera de pagina</ui:insert>
	</div>
	
	<f:view>
		 <!-- 	<div class="centro"> -->
		  <ui:insert name="cuerpo">Cuerpo de pagina</ui:insert>	
		  <ui:insert name="pie">Cuerpo de pagina</ui:insert>	
	 	 <!--    </div>   -->
	</f:view>
	</body>
		
</html>