<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">
      
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
	<title>Registro de bienes No pertenecientes al Patrimonio Cultural</title>
	<link href="../../common/css/style.css" rel="stylesheet" type="text/css" />
	<link href="../../common/css/messages.css" rel="stylesheet" type="text/css" />
	

	<script type="text/javascript" src="https://dsp.reniec.gob.pe/refirma_invoker/resources/js/client.js"></script>
	<script type="text/javascript" src="../../common/js/firma.js"></script>
	<script src="../../common/js/comun.js"></script>
	<script src="../../common/js/mostrarocultardiv.js"></script>
     <!--     <script src="../../common/ajax/AJAX.js"></script>    -->      
 	<a4j:loadScript src="../../common/ajax/jquery-1.10.2.js"/>
 	<a4j:loadScript src="../../common/js/jquery.print.js"/>    
    <a4j:loadScript src="../../common/js/jquery.barcode.js"/>
  	<script type="text/javascript">
		$jq = jQueryMC.noConflict();

		$jq(document).ready(function(){          	           	     
        	//Quita backspace a rich:Calendar para evitar error en IE	        
	        $jq('body').on('keypress keydown keyup', '.rich-calendar-input', function(evt) {	   
	        	var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode	: ((evt.which) ? evt.which : 0));				
	        	if (!(typeof $jq(evt.target).attr('readonly') === "undefined") ){		        	
	        		if (charCode == 8){
		        		//console.log("readonly cumple");
		        		return false; 	        		
			        }	  
	        	}else{
	        		if($jq(evt.target).val().length == 0){
	        			if (charCode == 8){
			        		//console.log("mayor a cero");
			        		return false; 	        		
				        }	
			        }
			    }	        	      	 
	        });
			//Quita enter a todos los input,select
	        $jq('body').on('keypress keydown keyup', function(evt) {	        	       	 
		        var obj = $jq(evt.target);  	
	        	if(obj.is("input:text") || obj.is("input:file") || obj.is("select")){
	        		var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode	: ((evt.which) ? evt.which : 0));					
		        	if (charCode == 13){	
		        		//console.log("cumple");	        		        		
		        		return false;        		
			        } 
		    		if (!(typeof obj.attr('readonly') === "undefined") ){
    					//console.log("cumple");	
    					if (charCode == 8){
    		        		//console.log("cumple");
    		        		return false; 	        		
    			        }	
	    			}  			        			        				        
		        }	 	        	 	        	             
	        });
        });

		//load = oncomplete	
        //Oculta preloader al cargar la pagina
        $jq(window).load(function() {
        	setTimeout(function () {
        		$jq('#preloader').fadeOut('fast');
            	$jq('body').css({'overflow':'visible'});
            	mostrarMsg();
            }, 500);         	        	
        });                
	</script>
	<script src="../../common/js/mostrarocultardiv.js"></script>
	<!-- <script type="text/javascript" src="../../common/js/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="../../common/js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="../../common/js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
	<script src="../../common/js/jquery.zoom.js"></script> -->
	<link type="text/css" media="screen" rel="stylesheet" href="../../common/js/jquery.cropbox.css" />
	<script type="text/javascript" src="../../common/js/jquery.cropbox.js"></script>
	<script type="text/javascript" src="../../common/js/hammer.js"></script>
	<script type="text/javascript" src="../../common/js/jquery.mousewheel.js"></script>
	<script src="../../common/js/amConfig.js"></script> 
	<link rel="shortcut icon" type="image/x-icon" href="../../common/images/iconoSINAR.ico"  />
	<link href="../../common/css/estilos.css" rel="stylesheet" type="text/css" />
 	<link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'/>   
	<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>  -->


</head>	
<body onload='hideMsg()'>
	<div id="preloader" class="preloaderCss">			
	    <div id="loader" class="loaderCss">		    	
	    	Cargando página...<br />
	    	<h:graphicImage value="/common/images/loading42.gif" style="border:0;"/>
	    </div>		    
	</div>
	<f:view>	
	 	<rich:hotKey key="f5" handler="return false;" disableInInput="true"/> <!-- //F5 FIREFOX -->	
		<!-- ************************************ -->	
		<f:subview id="svHeader">
			<div id="base_arriba">
				<div class="menu_principal">
					<div class="logo"></div>        
			      	<div class="menu_superior">        
						<ul>
				            <li><a href="">Patrimonio cultural</a></li>
				            <li><a href="">Industrias culturales</a></li>
				            <li><a href="">Interculturalidad</a></li>
				            <li style="border-right:none"><a href="">Defensa del patrimonio</a></li>
			          	</ul>        
					</div>        
			        <div class="icon_sociales">        
			          	<ul>
				            <li><a href=""><img src="../../common/images/nuevo/ico_face.jpg" width="23" height="22" /></a></li>
				            <li><a href=""><img src="../../common/images/nuevo/ico_twit.jpg" width="23" height="22" /></a></li>
			          	</ul>        
					</div>
				</div>
			</div>
		
			<div id="base_segunda">	
				<div id="segunda">
				    <div class="sesion">  
						<f:subview id="svMnuIzSes"> 
							<h:form>
								<div id="caja">				
									<h:panelGrid styleClass="vertical-menu-cell"  id="pnlgPanelinicio" columnClasses="optionList" columns="1" cellspacing="0" cellpadding="0">
								           <rich:dropDownMenu value="Iniciar_Sesion"  styleClass="mostrar" id="rmdInicio"  hideDelay="80" showDelay="80" >  		              
								           	<f:facet name="label"> 
								                   <h:panelGroup id="pnlgroupIncio">
								                     <div class="flecha"> <h:graphicImage value="/common/images/nuevo/flecha01.png" /></div>                     
								                     <h:outputText value="Iniciar_Sesion" id="mnItemInicio" />
								                   </h:panelGroup>
								               </f:facet>			                    
								               <rich:menuItem submitMode="server" styleClass="caja" action="#{usuarioBean.ircambioClave}" id="mn1">
								                  <span class="item_sesion"> Cambiar Clave</span>  
								               </rich:menuItem>
								               <rich:menuItem  submitMode="server"   styleClass="caja" action="#{beanLogin.logout}" id="mn2">
								               	<span class="item_sesion"> Cerrar sesión</span>  
								               </rich:menuItem>
								           </rich:dropDownMenu>         
									</h:panelGrid>
								</div>	
							</h:form>  
						</f:subview>
					</div>
				</div>		
				<a4j:form>					
					<div class="usuario">Bienvenido: <rich:spacer  id="idEspacioDATOS"  width="2" height="2" ></rich:spacer>
						<h:outputText value=" #{sessionScope['DATOS_USUARIO']}" styleClass="nombreUser" />							
					</div>											
					<div class="sysname"><!-- <h:outputText value="ALGÚN TITULO" rendered="true" />--></div>				
				</a4j:form>   
			</div>			
		</f:subview>	
		<div class="contenidoInteriores"> 	
			<div class="centroInterior">
			<div class="menuDer" id="jqDivIz">
				<f:subview id="svMnuIz"> 
					<a4j:form>					  
						<h:panelGrid columns="1" columnClasses="cols,cols" width="150">  
							<rich:panelMenu id="pnlPrincipal" style="width:140px"  mode="ajax" iconExpandedGroup="disc" iconCollapsedGroup="disc" iconExpandedTopGroup="chevronUp" 
								iconGroupTopPosition="right" iconCollapsedTopGroup="chevronDown" rendered="true">                             
								<rich:panelMenuGroup label="OPCIONES" styleClass="nivel1"  expanded="true"    >
									<rich:panelMenuItem label="Principal" name="Item_1_1" reRender="detallesBody"  ajaxSingle="true" styleClass="nivel2">
										<a4j:actionparam name="ruta" value="/pages/bienvenida.xhtml" assignTo="#{beanLinkMenu.ruta}"/>
									</rich:panelMenuItem>   
									
									   <rich:panelMenuItem label="Nuevo registro" name="Item_1_2" reRender="detallesBody" action="#{fichaBean.inicializarNuevoRegistro}" ajaxSingle="true" styleClass="nivel2"  rendered="#{usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilAdministrativo}" >
					                    	<a4j:actionparam name="ruta" value="/pages/registro/formRegistroCertificado.xhtml" assignTo="#{beanLinkMenu.ruta}"/>
										</rich:panelMenuItem>  
					
							               <rich:panelMenuItem label="Búsqueda" name="Item_1_3" reRender="detallesBody"  ajaxSingle="true" styleClass="nivel2"  action="#{fichaBean.inicializarBusqueda}"  rendered="#{usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilConsultaPais}" >
					                    	<a4j:actionparam name="ruta" value="/pages/registro/bandejaRegistroCertificados.xhtml" assignTo="#{beanLinkMenu.ruta}"/>
										</rich:panelMenuItem> 
										
										<rich:panelMenuItem label="Consulta" name="Item_1_4" reRender="detallesBody"  ajaxSingle="true" styleClass="nivel2"  action="#{fichaBean.inicializarBusquedaConsulta}" rendered="#{usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilConsultaPais}"  >
					                    	<a4j:actionparam name="ruta" value="/pages/registro/bandejaConsultaCertificados.xhtml" assignTo="#{beanLinkMenu.ruta}"/>
										</rich:panelMenuItem> 
										  
								</rich:panelMenuGroup>             
							</rich:panelMenu>   	    
						</h:panelGrid>		        
					</a4j:form>
				</f:subview>					
			</div>
			<div class="contenidoIntPrinc" id="DivBody"  style="height: auto !important;margin: 0 auto 100px;">
				<f:subview id="svbody">
					<ui:insert name="bodyMC">Body de la plantilla</ui:insert>
				</f:subview>
			</div>
			</div>
		</div>  
		<f:subview id="svPiePrincipal">
			<ui:insert name="piePrincipal">Pie de pagina</ui:insert>
		</f:subview>			
		<rich:modalPanel id="wpPreload" style="text-align:center;" autosized="true" >
			<h:graphicImage value="/common/images/loadBMU.gif" style="border:0;"/>
		</rich:modalPanel>
	</f:view>	
	    	<div id="addComponent"></div>
</body>		
</html>