<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">
      
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <title>NOMBRE SEL SISTEMA</title>
    <link href="../../common/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../common/css/messages.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://dsp.reniec.gob.pe/refirma_invoker/resources/js/client.js"></script>
    <script src="../../common/js/comun.js"></script>
    <script src="../../common/js/mostrarocultardiv.js"></script>   
<!--        <script src="../../common/ajax/AJAX.js"></script>-->
    <a4j:loadScript src="../../common/ajax/jquery-1.10.2.js"/> 
     <a4j:loadScript src="../../common/js/jquery.print.js"/>    
     <a4j:loadScript src="../../common/js/jquery.barcode.js"/>
    <!--     <a4j:loadScript src="../../common/ajax/jquery-1.3.min.js"/>  --> 
    <script type="text/javascript">
        $jq = jQueryMC.noConflict();        
        
        //ready = onload
        $jq(document).ready(function(){                  	     
			//Quita backspace a rich:Calendar para evitar error en IE	        
	        $jq('body').on('keypress keydown keyup', '.rich-calendar-input', function(evt) {	   
	        	var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode	: ((evt.which) ? evt.which : 0));				
	        	if (!(typeof $jq(evt.target).attr('readonly') === "undefined") ){		        	
	        		if (charCode == 8){
		        		//console.log("readonly cumple");
		        		return false; 	        		
			        }	  
	        	}else{
	        		if($jq(evt.target).val().length == 0){
	        			if (charCode == 8){
			        		//console.log("mayor a cero");
			        		return false; 	        		
				        }	
			        }
			    }	            	 
	        });
			//Quita enter a todos los input,select
	        $jq('body').on('keypress keydown keyup', function(evt) {	        	       	 
		        var obj = $jq(evt.target);  	
	        	if(obj.is("input:text") || obj.is("input:file") || obj.is("select")){
	        		var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode	: ((evt.which) ? evt.which : 0));					
		        	if (charCode == 13){	
		        		//console.log("cumple");	        		        		
		        		return false;        		
			        } 
		    		if (!(typeof obj.attr('readonly') === "undefined") ){
    					//console.log("cumple");	
    					if (charCode == 8){
    		        		//console.log("cumple");
    		        		return false; 	        		
    			        }	
	    			} 			        			        				        
		        }	        	 	        	             
	        }); 	                          
        }); 

        //load = oncomplete	
        //Oculta preloader al cargar la pagina
        $jq(window).load(function() {
        	setTimeout(function () {
        		$jq('#preloader').fadeOut('fast');
            	$jq('body').css({'overflow':'visible'});
            	mostrarMsg();
            }, 500);         	        	
        });                
    </script>
    <a4j:loadScript src="../../common/ajax/jquery.mask.js"/>
    <script src="../../common/js/amElements.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../common/images/iconoSINAR.ico"  />
    <link href="../../common/css/estilos.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'/>
    <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>  -->

</head> 
	<body onload="hideMsg();" >   
		
		<div id="preloader" class="preloaderCss">			
		    <div id="loader" class="loaderCss">		    	
		    	Cargando página...<br />
		    	<h:graphicImage value="/common/images/loading42.gif" style="border:0;"/>
		    </div>		    
		</div>
		
		
	    <f:view>
		    <!-- Deshabilita teclas en toda la pagina -->		    
		    <rich:hotKey key="backspace" handler="return false;" disableInInput="true"/>
		    <rich:hotKey key="f5" handler="return false;" disableInInput="true"/> <!-- //F5 FIREFOX --> 		    
		    <!-- ************************************ -->
		    
			<f:subview id="svHeader">
				<div id="base_arriba">	
				    <div class="menu_principal">	
				        <div class="logo"></div>	        
						<div class="menu_superior">  
							<ul>
								<li><a href="">Patrimonio cultural</a></li>
								<li><a href="">Industrias culturales</a></li>
								<li><a href="">Interculturalidad</a></li>
								<li style="border-right:none"><a href="">Defensa del patrimonio</a></li>
							</ul>
						</div>	        
				        <div class="icon_sociales">	        
				          <ul>
				            <li><a href=""><img src="../../common/images/nuevo/ico_face.jpg" width="23" height="22" /></a></li>
				            <li><a href=""><img src="../../common/images/nuevo/ico_twit.jpg" width="23" height="22" /></a></li>
				          </ul>	        
				        </div>	
				    </div>	
				</div>
			
				<div id="base_segunda">		
				    <div id="segunda">
					    <div class="sesion">  
						    <f:subview id="svMnuIzSes"> 
						    	<div id="caja" style="color: #1F2527;font-size: 1px;">.</div> 
						    </f:subview>
					    </div>
				    </div>	                               
				    <div class="usuario">Bienvenido al Sistema de --NOMBRE SISTEMA EXTERNO--</div>   
				    <div class="sysname"><h:outputText value="ALGÚN TITULO" rendered="true" /></div>              
				</div>           
			                
			</f:subview>
		    <div class="contenidoInteriores">   
				<div class="centroInterior">
					<div class="menuDer" id="jqDivIz">
						<f:subview id="svMnuIz"> 
							<a4j:form>                  
								<h:panelGrid columns="2" columnClasses="cols,cols" width="150">  
									<rich:panelMenu style="width:140px;"  mode="ajax" iconExpandedGroup="disc" iconCollapsedGroup="disc" iconExpandedTopGroup="chevronUp" iconGroupTopPosition="right" iconCollapsedTopGroup="chevronDown">
										<rich:panelMenuGroup label="OPCIONES" styleClass="nivel1" expanded="true" >
											<rich:panelMenuItem label="Principal" name="Item_1_0" reRender="detallesBody"  ajaxSingle="true" styleClass="nivel2">
												<a4j:actionparam name="ruta" value="/pages/bienvenidaWeb.xhtml" assignTo="#{beanLinkMenuWeb.ruta}"/>
											</rich:panelMenuItem>  										                                   
										</rich:panelMenuGroup>
									</rich:panelMenu>         
								</h:panelGrid>              
							</a4j:form>
						</f:subview>    
		            </div>
					<div class="contenidoIntPrinc" id="DivBody">
					    <f:subview id="svbody">      			           	 
					    	<ui:insert name="bodyMC">body de la plantilla</ui:insert>
					    </f:subview>			
					</div>
				</div>
		 	</div>  
		                
		    <f:subview id="svPiePrincipal">
		     <ui:insert name="piePrincipal">Pie de pagina</ui:insert>
		    </f:subview>
		                
			<rich:modalPanel id="wpPreload" style="text-align:center;" autosized="true" >
				<h:graphicImage value="/common/images/load.gif" style="border:0;"/>
			</rich:modalPanel>
					
		</f:view>
		
    	<div id="addComponent"></div>
	</body>     
</html>