<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<ui:composition template="../../common/layouts/plantillaLogin.xhtml" 
xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich">

<ui:define name="titulo">
	MINISTERIO DE CULTURA
</ui:define>
		
<ui:define name="cabecera">
	<div id="base_arriba">

	<div class="menu_principal">

		<div class="logo">
		</div>
        
      <div class="menu_superior">
        
          <ul>
            <li><a href="">Patrimonio cultural</a></li>
            <li><a href="">Industrias culturales</a></li>
            <li><a href="">Interculturalidad</a></li>
            <li style="border-right:none"><a href="">Defensa del patrimonio</a></li>
          </ul>
        
		</div>
        
        <div class="icon_sociales">
        
          <ul>
            <li><a href=""><img src="../../common/images/nuevo/ico_face.jpg" width="23" height="22" /></a></li>
            <li><a href=""><img src="../../common/images/nuevo/ico_twit.jpg" width="23" height="22" /></a></li>
          </ul>
        
		</div>

	</div>

</div>

<div id="base_segunda">

	<div id="segunda">
     <div class="sesion">  
    <f:subview id="svMnuIzSes"> 
       <h:form>
			<div id="caja">
			
		 	 <h:panelGrid styleClass="vertical-menu-cell" columnClasses="optionList" columns="1" cellspacing="0" cellpadding="0">
            <rich:dropDownMenu value="Iniciar_Sesion"  styleClass="mostrar"  hideDelay="80" showDelay="80" >
            
              <f:facet name="label"> 
                    <h:panelGroup>
                      <div class="flecha"> <h:graphicImage value="/common/images/nuevo/flecha01.png" /></div>                     
                      <h:outputText value="Iniciar_Sesión"/>
                    </h:panelGroup>
                </f:facet>
                    
                <rich:menuItem submitMode="server" styleClass="caja" action="#{usuarioBean.ircambioClave}" >
                   <span class="item_sesion"> Cambio Clave</span>  
                </rich:menuItem>
                <rich:menuItem submitMode="server" styleClass="caja" action="#{beanLogin.logout}" >
                              <span class="item_sesion"> Cerrar sesión</span>  
                </rich:menuItem>
            </rich:dropDownMenu>         
        </h:panelGrid>
			</div>	
	   </h:form>  
	   </f:subview>
	   	</div>
	</div> 
	
	
			    <a4j:form>					
						<div class="usuario">Bienvenido: <rich:spacer  id="idEspacioCDATOS"  width="2" height="2" ></rich:spacer>
							<h:outputText value="#{sessionScope['DATOS_USUARIO']}" styleClass="nombreUser" />							
						</div>						
				</a4j:form>  
  
</div>	

</ui:define>

<ui:define name="cuerpo">
   <!-- <div class="centro">
	   <div class="centroContenedor">
	        <div class="imgSombrIzq"></div>
	        <div class="ImgBlancRep">
	        <div class="fdoInicio">Módulo de Seguridad, Administración y Auditoria</div>
	        <div class="fdo-blanco"> -->
	       
<div id="base_cuerpo">

<h2> Módulo de Seguridad <br/>Cambio de Contraseña</h2>
  
  <div class="cuerpo_inicio">  
    
  <div class="cuerpo_login"> 
  
  
  	<a4j:form id="parametrosClave"   >
   <div class="contenidoBtnesCambioClave">
    <h:panelGroup id="camposIngresoClave" >  
     <table border="0" width="100%">
       <tr>   <td width="5%" > </td>
                <td width="85%" > </td>
                <td width="10%"></td>
      </tr>
        <!--  -->  
           <tr><td> </td>
                <td >    
                <table width="100%"> 
                <tr>
                <td width="30%"></td>                
                <td width="60%"></td>
                <td width="5%"></td>                
                <td width="5%"></td>             
                </tr>   
                 <tr>  
                <td>			  
		               <h:outputText id="lblUsuarioC" value="Usuario:"  />
			     </td>
			     <td>
			           <h:inputText id="txtUsuarioC" value="#{usuarioBean.oUsu.login}"  maxlength="50" styleClass="intro_text_CambioClave" readonly="true"  style="width:96%;text-transform: uppercase;">
					    
					   </h:inputText>
			     </td>
				 <td>			  
		               
			     </td>	  
			    <td  >						      
			   </td> 			  	
				
				</tr>	                      
                <tr>  
                <td>			  
		               <h:outputText id="lblContrasenia" value="Contraseña Anterior"  />
			     </td>
			     <td>    
			            <h:inputSecret  id="idClave1"   value="#{usuarioBean.claveAnterior}" styleClass="intro_text_CambioClave"  validatorMessage="#{msj.form_bandeja_cambio_contraseniaAnterior_validator}" >
			            	 	<f:validateLength minimum="4" maximum="30" />
			                </h:inputSecret>
			     </td>
				 <td>			  
		               
			     </td>	  
			    <td  >						      
			   </td> 			  	
				
				</tr>		      
				</table>		      
                </td>
                <td  rowspan="3" valign="top" align="center">                      		
						
						  <a4j:commandLink id="lnkParamGuardarClave" styleClass="btnInteriores"  action="#{usuarioBean.guardarFormCambioClave}"  reRender="parametrosClave"    rendered="#{usuarioBean.mostrarBotonInicio !='S'}" >
							<span class="nuevo">Guardar</span>
								</a4j:commandLink>	
								
						 <a4j:commandLink id="lnkParamGuardarClaveIrInicio" styleClass="btnInteriores" action="#{usuarioBean.irVentanaLogueo}"   reRender="parametrosClave"  rendered="#{usuarioBean.mostrarBotonInicio !='N'}" ajaxSingle="true">
							<span class="nuevo">Ir a Logueo</span>							
								</a4j:commandLink>											
					
                     	<a4j:commandLink id="lnkParamLimpiar" styleClass="btnInteriores" action="#{usuarioBean.limpiarFormCambioClave}" reRender="parametrosClave"> 
                    		<span class="limpiar">Limpiar</span>
           				</a4j:commandLink>
           				
                </td>
                
                </tr>
                
                
                 <tr><td> </td>
                <td >    
                <table width="100%"> 
                <tr>
                <td width="30%"></td>                
                <td width="60%"></td>
                <td width="5%"></td>
                <td width="5%"></td>  
                </tr>                          
                <tr>   
                <td >
                    	 <h:outputText id="lblContraseniaNueva" value="Contraseña Actual:" />
				</td>				  				
									
			     <td>	 
					    <h:inputSecret id="idClave2"  value="#{usuarioBean.oUsu.clave}"  styleClass="intro_text_CambioClave"  validatorMessage="#{msj.form_bandeja_cambio_contrasenia_validator}" requiredMessage="#{msj.form_bandeja_cambio_contrasenia_validator}" required="true">
			            	 	<f:validateLength minimum="6" maximum="30" />
			                </h:inputSecret>
			      </td>
			  
			   <td  >
				</td>				  				
									
			     <td>	
					  
			      </td>
				</tr>	
				<tr>
				
				  <td>			  
		               <h:outputText id="lblConfirmarContrasenia" value="Confirmar Contraseña"  />
			     </td>
			     <td>	                
			                <h:inputSecret id="idClave3"  value="#{usuarioBean.confirmarClave}"   styleClass="intro_text_CambioClave"  validatorMessage="#{msj.form_bandeja_cambio_contraseniaConfirmar_validator}" requiredMessage="#{msj.form_bandeja_cambio_contraseniaConfirmar_validator}" required="true">
			            	 	<f:validateLength minimum="6" maximum="30" />			            	 	
			                </h:inputSecret>
			     </td>
			       <td  >
				</td>				  				
									
			     <td>	
					  
			      </td>
				
				</tr>
				<tr>
				<td colspan="4" > 
				        <h:panelGroup id="globalMesgArea" styleClass="globalMesgArea" layout="block">              
						  <h:panelGrid columns="1">
						    <rich:messages id="ErrorcamposIngresoClave" ajaxRendered="true"  layout="table" tooltip="true" showDetail="false" showSummary="true" style="color:red;font-size:10px"/>
						  </h:panelGrid>
						</h:panelGroup> 
							</td>
				</tr>
					      
				</table>		      
                </td>              
                
                </tr> 
                
                 <tr><td> </td>
                <td >    
                <table width="100%" border="0"> 
                <tr>
                <td width="5%"></td>                
                <td width="10%"></td>
                <td width="12%"></td>
                <td width="25%"></td>  
                </tr>                          
                <tr>   
                <td >
                    	  
				</td>				  				
									
			     <td>	 
					     <table><tr >	<td>
					     
					    </td></tr> </table> 
			      </td>
			  
			   <td >
				</td>				  				
									
			     <td>	 
					    
			      </td>
				</tr>		      
				</table>		      
                </td>              
                
                </tr> 
                  
     </table>   
     </h:panelGroup>
   </div>


<!-- 
<div class="msgInfo" id="msg">				
					<rich:messages ajaxRendered="true" infoClass="rf-msgs-inf" warnClass="rf-msgs-wrn" errorClass="rf-msgs-err"/>			   	
	    </div>  -->

 </a4j:form>
 
 
   </div>  
       </div>  
</div>
	     <!--    </div>
	      </div>
	      <div class="imgSombrDer"></div>
	    </div>
    </div>  -->
</ui:define>

<ui:define name="pie">
<div id="base_pie">
  
  <div class="pie">
  
   <div class="logo_inferior">
  	<ul>
    	<li style="padding-left:0; padding-top:0; border-left:0"><img src="../../common/images/nuevo/logo_escudo.jpg" width="28" height="35" /></li>
    	<li>Gobierno<br></br> del Perú</li>
    	<li>Ministerio de<br></br>Cultura</li>
    	<li>Secretaría<br></br>General</li>
        <li>Oficina General de Estadística y Tecnologías<br></br> de Información y Comunicaciones</li>
    </ul>
  </div>
  
  <div class="direccion"> Sede Central: Av. Javier Prado Este 2465<br></br>San Borja, Lima 41 Perú <br></br>Central Telefónica: 511-6189393</div>
  
  </div>
    
</div>

	<a4j:form >
		<h:outputText value="#{usuarioBean.mensaje}"/>
	</a4j:form>

</ui:define>

</ui:composition>

</html>
 