<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<ui:composition template="../../common/layouts/plantillaLogin.xhtml" 
xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich">

<ui:define name="titulo">
	MINISTERIO DE CULTURA
</ui:define>
		
<ui:define name="cabecera">
	<div id="base_arriba">

	<div class="menu_principal">

		<div class="logo">
		</div>
        
      <div class="menu_superior">
        
          <ul>
            <li><a href="">Patrimonio cultural</a></li>
            <li><a href="">Industrias culturales</a></li>
            <li><a href="">Interculturalidad</a></li>
            <li style="border-right:none"><a href="">Defensa del patrimonio</a></li>
          </ul>
        
		</div>
        
        <div class="icon_sociales">
        
          <ul>
            <li><a href=""><img src="../../common/images/nuevo/ico_face.jpg" width="23" height="22" /></a></li>
            <li><a href=""><img src="../../common/images/nuevo/ico_twit.jpg" width="23" height="22" /></a></li>
          </ul>
        
		</div>

	</div>

</div>

<div id="base_segunda">
  
  
  
</div>

</ui:define>

<ui:define name="cuerpo">
   <!-- <div class="centro">
	   <div class="centroContenedor">
	        <div class="imgSombrIzq"></div>
	        <div class="ImgBlancRep">
	        <div class="fdoInicio">Módulo de Seguridad, Administración y Auditoria</div>
	        <div class="fdo-blanco"> -->
	       
<div id="base_cuerpo">
<!--  
<h2>Registro de Bienes No Pertenecientes al Patrimonio Cultural - <h:outputLabel value="#{beanLogin.sisVersion}" style="font-size:15px" /></h2>
-->
<h2>Sistema de Gestión de Certificados de Exportación de piezas no pertenecientes al Patrimonio Cultural - <h:outputLabel value="#{beanLogin.sisVersion}" style="font-size:15px" /></h2>


  
  <div class="cuerpo_inicio">  
    
  <div class="cuerpo_login"> 
    
	          <h:form id="formlogeo">
		          <div class="log">
		             <div class="titUsuarios">     	
						<div class="centrar">
			            	<h:outputText value="Usuario:" styleClass="titu_text_login"/> 
			            	
			            	 <h:inputText id="idLogin1" value="#{beanLogin.usu.login}" styleClass="intro_text_login"  style="text-transform: uppercase;"  maxlength="15"     >
			            	 	<f:validateLength minimum="1" maximum="15" />
			                </h:inputText><br/>
			            	</div>
			            	<div class="espacio"></div>
			            	<div class="centrar" >
			            	<h:outputText value="Password:"  styleClass="titu_text_login"/> 
			                <h:inputSecret value="#{beanLogin.usu.clave}"  styleClass="intro_text_login"  maxlength="15">
			            	 	<f:validateLength minimum="1" maximum="15" />
			                </h:inputSecret>
		                	 </div>          
		               </div>
		               <div class="espacio"></div>   
		            <div class="derecha">
		              
			             <h:commandButton value="Enviar" type="submit"  styleClass="botones_login_uno" action="#{beanLogin.login}" /> <rich:spacer  id="idEspaciop1"  width="10" height="10" ></rich:spacer>
			            <h:commandButton value="Limpiar" type="reset"  styleClass="botones_login_uno"  />  		                              
		            </div>
		          </div>
	          </h:form>
	          
	            </div>  
       </div>  
</div>
	     <!--    </div>
	      </div>
	      <div class="imgSombrDer"></div>
	    </div>
    </div>  -->
</ui:define>

<ui:define name="pie">
<div id="base_pie">
  
  <div class="pie">
  
   <div class="logo_inferior">
  	<ul>
    	<li style="padding-left:0; padding-top:0; border-left:0"><img src="../../common/images/nuevo/logo_escudo.jpg" width="28" height="35" /></li>
    	<li>Gobierno del Perú</li>
    	<li>Ministerio de Cultura</li>
    </ul>
  </div>
  
  <div class="direccion"> Sede Central: Av. Javier Prado Este 2465<br></br>San Borja, Lima 41 Perú <br></br>Central Telefónica: 511-6189393</div>
  
  </div>
    
</div>

	<a4j:form >
		<h:outputText value="#{beanLogin.mensaje}"/>
	</a4j:form>

</ui:define>

</ui:composition>

</html>
