<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<ui:composition template="../../common/layouts/plantillaLogin.xhtml" 
xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich">

<ui:define name="titulo">
	MINISTERIO DE CULTURA
</ui:define>
		
<ui:define name="cabecera">
<!-- 	<div id="base_arriba">

	<div class="menu_principal">

		<div class="logo">
		</div>
        
      <div class="menu_superior">
        
          <ul>
            <li><a href="">Patrimonio cultural</a></li>
            <li><a href="">Industrias culturales</a></li>
            <li><a href="">Interculturalidad</a></li>
            <li style="border-right:none"><a href="">Defensa del patrimonio</a></li>
          </ul>
        
		</div>
        
        <div class="icon_sociales">
        
          <ul>
            <li><a href=""><img src="../../common/images/nuevo/ico_face.jpg" width="23" height="22" /></a></li>
            <li><a href=""><img src="../../common/images/nuevo/ico_twit.jpg" width="23" height="22" /></a></li>
          </ul>
        
		</div>

	</div>

</div>  -->

  <div id="base_segunda">
    
</div>  

</ui:define>

<ui:define name="cuerpo">

<div id="base_cuerpo">

  
  <div class="cuerpo_inicio">  
    <div id="todo">
    
    </div>   
       </div>  
</div>
	   
</ui:define>

<ui:define name="pie">
<div id="base_pie">
      
</div>

</ui:define>

</ui:composition>

</html>
