<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

 
<ui:composition template="../../common/layouts/plantillaPrincipal.xhtml" 
xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich"> 
         
	<ui:define name="bodyMC">					
			<h:panelGroup id="detallesBody" layout="block" styleClass="detallesBody">  
			
				<f:subview id="svBodyI">
					<ui:include src="#{beanLinkMenu.ruta}" ></ui:include>
				</f:subview>				
			</h:panelGroup>
						
	</ui:define>
  
 <ui:define name="piePrincipal">
<div id="base_pie" >
  
  <div class="pie">
  
   <div class="logo_inferior">
  	<ul>
    	<li style="padding-left:0; padding-top:0; border-left:0"><img src="../../common/images/nuevo/logo_escudo.jpg" width="28" height="35" /></li>
    	<li>Gobierno del Perú</li>
    	<li>Ministerio de Cultura</li>
    	
    </ul>
  </div>
  
  <div class="direccion"> Sede Central: Av. Javier Prado Este 2465<br></br>San Borja, Lima 41 Perú <br></br>Central Telefónica: 511-6189393</div>
  
  </div>
    
</div>

</ui:define>

  
</ui:composition>

</html>