<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<ui:composition 
xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich"> 

<style>
.alignCenter
{
text-align:center;
}
</style>
	
<div class="titSeccion">
	 <div class="iconoSeccion">MINC-CNP | BANDEJA DE CONSULTA DE CERTIFICADO</div>        
</div>	

  <f:subview id="svfrmExpBandejaBand">
  	<a4j:form id="parametrosBand"   >
   <div class="contenidoBtnesSup">
    <h:panelGroup id="camposIngresoBand" >  
     <table border="0" width="100%">
       <tr>   <td width="5%" > </td>
                <td width="85%" > </td>
                <td width="10%"></td>
      </tr>
        <!--  -->  
           <tr><td> </td>
                <td >    
                <table width="100%"> 
                <tr>
                <td width="20%"></td>
                <td width="15%"></td>
                <td  width="3%"></td>
                <td  width="31%"></td>
                <td  width="31%"></td>
                </tr>
                
                      <tr>
				<td  colspan="5">
				<table width="100%">
				<tr>
					
				  <td align="left" width="14%"><h:outputText id="lblNumeroCertBusq" value="N° Certificado:" /></td>
                  <td width="25%">  <h:inputText id="txtNumeroCertBusq" value="#{fichaBean.numeroCertificado}" maxlength="10" style="width:99%"   onkeypress="return soloNumeros(event);" >
                       
                       </h:inputText>
                      	 </td>  
			  	
			  	 <td align="right" width="12%"> </td>
                  <td width="12%" >  
					</td> 

					<td width="20%" align="right"><h:outputText id="lblUsuarioRegistro" value="N° Expediente:" rendered="#{usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilRegistrador}"  /></td>
					
					<td  width="17%" >
					<h:outputText id="lblFormatoNumeroExpedienteCONSL" value="(Formato:######-AÑO)" style="font-size:10px"/><br></br>
					 <h:inputText id="txtNroExpediente" value="#{fichaBean.numeroExpediente}" maxlength="15" style="width:90%"  onkeypress="return soloNumerosConGuion(event);"  >
                           <f:converter converterId="ConverterToUpperString"/>
                       </h:inputText></td>
				</tr>
				
				<tr>
				    <td align="left"  ><h:outputText id="lblNombreAdministrado" value="Administrado:" /></td>
                  <td  colspan="5" >  <h:inputText id="txtNombreAdministrado" value="#{fichaBean.nombreAdministrado}" maxlength="80" style="width:99%"   >
                           <f:converter converterId="ConverterToUpperString"/>
                       </h:inputText>
                      	 </td>  
				</tr>
				
				</table>
				</td>
				</tr>                          
               	      
				</table>		      
                </td>
                <td  rowspan="4" valign="top" align="center">
                         
						<a4j:commandLink id="lnkParamMat2" styleClass="btnInteriores" action="#{fichaBean.consultaBandejaCertificados}" reRender="detallesBody" oncomplete="mostrarMsg()" > 
                    		<span class="buscar">Buscar</span>
                     	</a4j:commandLink>
                     	<a4j:commandLink id="lnkParamMat3" styleClass="btnInteriores" action="#{fichaBean.limpiarBandejaConsultaCertificados}" reRender="parametrosBand"> 
                    		<span class="limpiar">Limpiar</span>
           				</a4j:commandLink>
           				
                </td>
                
                </tr>
                
                 
                
                
                 <tr><td> </td>
                <td >    
                <table width="100%"> 
                <tr>
               <td width="20%"></td>
                <td width="30%"></td>
                <td  width="3%"></td>
                <td  width="30%"></td>
                <td  width="17%"></td>
                </tr>                          
                <tr>
                 <td  >			  
		               <h:outputText id="lblFechaExpedicion" value="Fecha de Certificado:" />
			     </td>	
			        
               			  				
									
			   <td >			  
			     <h:outputText id="lblFechaIniCert" value="Fecha de Inicio:"   style="font-size:10px"/>     <br/>  
						     <table  style="margin-left:2px; width:100%;"   ><tr >	<td>
						   <rich:calendar id="txtIngresoIniCert" datePattern="dd/MM/yyyy" value="#{fichaBean.fechaListIni}"  inputSize="10" 
						   showWeeksBar="false"  direction="auto" enableManualInput="false"  ajaxSingle="true"  popup="true" converterMessage="#{msj.form_bandeja_fechaIni_converter}" >     
							<f:convertDateTime pattern="dd/MM/yyyy"/>
							</rich:calendar>	
						    </td></tr> </table>	
			  </td>	
			  <td></td>
			   <td >			  
			     <h:outputText id="lblFechaFinCert" value="Fecha de Fin:" style="font-size:10px"/>     <br/>  
						     <table  style="margin-left:2px; width:100%;"   ><tr >	<td>
						   <rich:calendar id="txtIngresoFinCert" datePattern="dd/MM/yyyy" value="#{fichaBean.fechaListFin}"  inputSize="10" 
						   showWeeksBar="false"  direction="auto" enableManualInput="false"  ajaxSingle="true"  popup="true" converterMessage="#{msj.form_bandeja_fechaFin_converter}" >     
							<f:convertDateTime pattern="dd/MM/yyyy"/>
							</rich:calendar>	
						    </td></tr> </table>	
			  </td>	
			  
				</tr>		      
				</table>		      
                </td>
               
                
                </tr>   
     </table>   
     </h:panelGroup>
   </div>


<div style="margin: 5px;font-size:large;color:#009">
   <h:panelGroup id="detalleTablaCertificados" >      
          <rich:dataTable id="DataCertificados" value="#{fichaBean.listaCertificados}" binding="#{fichaBean.tablaCertificados}"   var="ma" style="margin:auto;width:800px;margin-top:20px"  rows="10"
                                onRowMouseOver="this.style.backgroundColor='#def'"
                    			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
	           
	           <rich:column  width="10px"   id="colNro11" style="text-align:center;">
	              <f:facet name="header">	                
				     	<h:outputText id="lblMatRIn1" value="N°" style="font-weight: bold ; text-align:center;"/>
			
	              </f:facet>
	              <h:outputText id="idndMatRIn11" value="#{ma.item}"/>
	            </rich:column> 	           
	            
	            
	              <rich:column   id="colMatExpediente"  style="text-align:center;" width="20px"  >
	              <f:facet name="header" styleClass="cabTabla">	
				     <h:outputText id="lblMatExpediente" value="N° Expediente" style="font-weight:bold"/>
	              </f:facet>
	              <h:outputText id="idwMatExpediente" value="#{ma.numeroExpediente}" style=" color:#{ma.motivoNoAtencion!=null?'RED':'BLACK'} "/>
	            </rich:column>
	            
	            
	            <rich:column   id="colMatAdministrado"  style="text-align:center;" width="30px"  >
	              <f:facet name="header" styleClass="cabTabla">	
				     <h:outputText id="lblMatAdministrado" value="Administrado" style="font-weight:bold"/>
	              </f:facet>
	              <h:outputText id="idwMatAdministrado" value="#{ma.nombresApellidos}"/>
	            </rich:column>
	           
	             <rich:column   id="colMat2523"  style="text-align:center;" width="20px"  >
	              <f:facet name="header" styleClass="cabTabla">	
	              	<h:panelGrid id="tblArqDiametro1" columns="1"  style="margin: 0 auto;">
	              	<h:outputText id="lblMat25231" value="Cantidad" style="font-weight:bold"/>
	              	<h:outputText id="lblMat25232" value="Autorizada" style="font-weight:bold"/>	              	
	              	</h:panelGrid>
				     
	              </f:facet>
	              <h:outputText id="idwMat2532" value="#{ma.cantidadAutorizada}"/>
	            </rich:column>
	            
	              <rich:column   id="colMat25"  style="text-align:center;" width="20px"  >
	              <f:facet name="header" styleClass="cabTabla">	
				     <h:outputText id="lblMat25" value="N° Certificado" style="font-weight:bold"/>
	              </f:facet>
	              <h:outputText id="idwMat25" value="#{ma.numeroCertificadoFormato}"/>
	            </rich:column>
	            
	                       	                    
	            
	       <!--       <rich:column  id="colMat19" style="text-align:center;" width="35px" >
	              <f:facet name="header"  >
	                <h:outputText id="idwMat140" value="Cancelado" style="font-weight:bold"/>
	              </f:facet>
	              <h:outputText id="idwMat141" value="#{ma.cancelado=='N' ? 'NO':'SI'}" style="color:#{ma.cancelado=='N' ? 'red':'black' }"/>
	            </rich:column>   
	           -->
	             
	             <rich:column  id="colFechaCert" width="20px" style="height:20px;text-align:center;">
	              <f:facet name="header">
	                <h:outputText id="idwFechaCert" value="Fecha Certificado" style="font-weight:bold"/>
	              </f:facet>
	              <h:outputText id="idwMatFechaCert" value="#{ma.fechaExpedicion}">
	              		<f:convertDateTime pattern="dd/MM/yyyy"/>
		         </h:outputText>
	            </rich:column>	
	            
	           
	            
	            <rich:column id="idAccionesMatLB" width="115px" style="height:20px;text-align:center;"  >
	             <f:facet name="header">
	              <h:outputText id="idwMat46" value="Acciones" style="font-weight:bold"/>
	             </f:facet> 
	             
	              <h:commandLink id="imodificarMat2CERT"  action="#{fichaBean.seleccionarCertificado}" reRender="detallesBody"   rendered="#{ma.numeroCertificado !=null and (ma.nombreArchivo!=null and ma.nombreArchivo!= '')  }"   >
	                    <a4j:actionparam name="ruta3" value="/pages/registro/formAdjuntarCertificado.xhtml" assignTo="#{beanLinkMenu.ruta}"/>
	                    <f:param name="soloVerCertificado" value="S"  />	                
	                   <h:graphicImage value="/common/images/find.png"
	                                            style="border:2;width : 20px; height : 20px;"/>   
	              </h:commandLink> 
	               
	              <rich:toolTip id="tM198CERT" for="imodificarMat2CERT" direction="top-left" value="Ver Formulario" />
	              
	                <rich:spacer  id="idEspacioMat1CERT"  width="10" height="10" ></rich:spacer>
	             
	                <h:outputLink id="colbtnVerAccionAdjuntoCERTificado" value="#{ma.rutaCertificadoDocumento}"
				    		 					target="_blank" rendered="#{(ma.nombreArchivo!=null and ma.nombreArchivo!= '')}">
				    		 					<h:graphicImage value="/common/images/iconos/pdf.png" /></h:outputLink>
				    		 					
	               <rich:toolTip id="tM198ABCCERT" for="colbtnVerAccionAdjuntoCERTificado" direction="top-left" value="Ver Archivo" />	             
	              
	              
	               
	            </rich:column>
	            
		      
		     <f:facet name="footer">

		      	<h:panelGrid columns="5" columnClasses="alignCenter"  fastControls="hide" id="paginacion172">
		      	<h:outputText id="lblCantidadBS" value="Cantidad:" style="font-weight:bold; font-size:12px;"/>
	   		       <h:outputText id="cantElemenBS"  value="#{fichaBean.cantidadElementosPaginado}"  style="font-weight:bold; font-size:12px;"/>
	   		       <rich:spacer  id="idw182"  width="60" height="10" ></rich:spacer>
	   			 <h:outputText  id="idw183"  value="Página " />
		     	 <rich:datascroller  id="idw184"  for="DataCertificados" maxPages="5"   fastControls="hide"  >
		     	 	<f:facet name="previous">
                        <h:outputText  id="idw186"  value="Anterior" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="previous_disabled">
                        <h:outputText  id="idw187"  value="Anterior" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="next">
                        <h:outputText  id="idw188"  value="Siguiente" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="next_disabled">
                        <h:outputText  id="idw189"  value="Siguiente"  styleClass="scrollerCell" />
                    </f:facet>
		     	 </rich:datascroller>
		       </h:panelGrid>

			  </f:facet>
		      
		      
            </rich:dataTable>
      </h:panelGroup>   
</div>

<div class="msgInfo" id="msg">				
					<rich:messages ajaxRendered="true" infoClass="rf-msgs-inf" warnClass="rf-msgs-wrn" errorClass="rf-msgs-err"/>			   	
	    </div> 

 </a4j:form>
 </f:subview>  
  
  
  <!-- MODAL PARA CANCELACION COMPROBANTE A CREDITO -->
 
    <rich:modalPanel id="pnlObservaciones" width="620" height="370">             
<f:facet name="header">
          <h:outputText id="lblpnlRZ1Observaciones" value="OBSERVACIONES" />
     </f:facet>
     <f:facet name="controls">
      	   <h:graphicImage value="/common/images/close.png" style="cursor:pointer" 
      	   onclick="Richfaces.hideModalPanel('pnlObservaciones')" />
     </f:facet>
     <f:subview id="svfrmExpMdlObservaciones">
	<a4j:form id ="modalRZDosObservaciones" style="width: 100%;height: 100%" >
      
       <rich:panel  id="panelModalObservaciones" >
       
   
        <!--     <div  >  -->
        <h:panelGroup id="camposObservaciones">    
               <table width="100%">
               	<tr>
               	 <td width="90%">
               	 <table width="100%">
						 
						    <tr>
						      <td  width="12%"><h:outputText id="lblDescripcionOBS" value="Descripción:"   rendered="#{fichaBean.mostrarAgregarObservaciones=='S' }" ></h:outputText></td>
						      <td width="88%"> <h:inputTextarea  id="txaDescripcionOBS"   maxlength="500"  onfocus="agregarContadorCaracteres(this,500)" onkeyup="return limitarCantidadCaracteres(this,500);" onblur="quitarContadorCaracteres(this);"  style="font-size: 12px; width : 99%;"  value="#{fichaBean.observacion.descripcion}" rows="3"  validatorMessage="#{msj.nuevo_consolidacion_detalle_validator}"   rendered="#{fichaBean.mostrarAgregarObservaciones=='S' }"> 
						      				    
						     </h:inputTextarea>	</td>						    
						    </tr>
						    
						    <tr>
						      <td colspan="2">  
						        <table width="100%">
						          <tr>
						         
						      <td>   <div style="margin: 5px;font-size:large;color:#009" align="center">
					   <h:panelGroup id="detTablaObservacionesOBS" > 
                     <div style="max-height:250px;max-width:749px;overflow-x:auto; overflow-y:scroll; padding:5px;"  align="center" >    
					          <rich:dataTable id="dataMotivoObservaciones" value="#{fichaBean.listaObservaciones}" binding="#{fichaBean.tablaObservaciones}"   var="lis" style="margin:auto;width:100%;margin-top:10px"  rows="5"
					                                onRowMouseOver="this.style.backgroundColor='#def'"
					                    			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
						            
						             <rich:column   width="7%"   id="colMantOBS1" style="text-align:center;">
						              <f:facet name="header">	                
						                <h:panelGrid id="pgdMantOBSn1" columns="1">
									     	<h:outputText id="lblMantOBSn1" value="Nro" style="font-weight: bold ; text-align:center;"/>
									     </h:panelGrid>
						              </f:facet>
						              <h:outputText id="idndcMantOBSn1" value="#{lis.item}"/>
						            </rich:column> 
						            
						            <rich:column  id="col5OBS91"   width="50%"  style="height:20px">
						              <f:facet name="header">
						                <h:outputText id="idw4OBS14" value="Descripción" style="font-weight:bold"/>
						              </f:facet>
						              <h:outputText id="idw49OBS14" value="#{lis.descripcion}" style="font-size: 9px;"/>
						            </rich:column>
						            
						             <rich:column  id="col5OBSUSU91"   width="10%"  style="height:20px">
						              <f:facet name="header">
						                <h:outputText id="idw4OBSUSU14" value="Usuario" style="font-weight:bold"/>
						              </f:facet>
						              <h:outputText id="idw49OBSUSU14" value="#{lis.usuarioObserva}" style="font-size: 9px;"/>
						            </rich:column>
						            
						                <rich:column  id="col5OBSFECHUSU91"  width="10%"  style="height:20px">
						              <f:facet name="header">
						                <h:outputText id="idw4OBSFECHUSU14" value="Fecha" style="font-weight:bold"/>
						              </f:facet>
						              <h:outputText id="idw49OBSFECHUSU14" value="#{lis.fechaObservacion}" style="font-size: 9px;">
						              	<f:convertDateTime pattern="dd/MM/yyyy"/>
		         						</h:outputText>
						            </rich:column>
						            
						             <rich:column  id="col5OBSUSU912"   width="10%"  style="height:20px">
						              <f:facet name="header">
						                <h:outputText id="idw4OBSUSU142" value="Estado" style="font-weight:bold"/>
						              </f:facet>
						              <h:outputText id="idw49OBSUSU142" value="#{lis.descripcionEstadoObservacion}" style="font-size: 10px;"/>
						            </rich:column>
						            
						            
						           <rich:column  id="colOBS8" style="text-align:center;"  width="5%"   rendered="#{usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilRegistrador and fichaBean.mostrarAgregarObservaciones=='S' }"  >
						             <f:facet name="header">
						                <h:outputText id="idw42OBS43" value="Acción" style="font-weight:bold"/>
						              </f:facet>
						              <a4j:commandLink id="imodificarMOBS"  action="#{fichaBean.seleccionarListaObservacion}" reRender="panelModalObservaciones"  rendered="#{lis.estadoObservacion=='P'}"  >
						                    <h:graphicImage value="/common/images/iconos/edit.png"
						                                            style="border:2;width : 20px; height : 20px;"/>   
						              </a4j:commandLink> 
						              
						              <rich:toolTip id="tM192358" for="imodificarMOBS" direction="top-left" value="Modificar" />
						              
						               <a4j:commandLink id="colbtnDelAccionAdjuntoAneEli"  action="#{fichaBean.eliminarListaObservacion}" reRender="panelModalObservaciones"  rendered="#{lis.estadoObservacion=='P' }" oncomplete="mostrarMsg()"   onclick="if (!confirm('¿Estas seguro que deseas Eliminar?')){return false;}" >
																		                <h:graphicImage value="/common/images/remove.png"    style="border:0;width : 20px; height : 20px;"/>  
																		               </a4j:commandLink>
														                             <rich:toolTip for="colbtnDelAccionAdjuntoAneEli" direction="bottom-left" value="Eliminar" id="ttDireccionDGen33554"/>
						              
						            </rich:column>  
						                 	
						                 	
						                 	 <f:facet name="footer">

		      	<h:panelGrid columns="3" columnClasses="alignCenter"  fastControls="hide" id="paginacionOBS21">
	   		       <rich:spacer  id="idw8OBS211"  width="160" height="10" ></rich:spacer>
	   			 <h:outputText  id="idw8OBS31"  value="Página " />
		     	 <rich:datascroller  id="idw8OBS1"  for="dataMotivoObservaciones" maxPages="5"   fastControls="hide"  >
		     	 	<f:facet name="previous">
                        <h:outputText  id="idw8OBS611"  value="Anterior" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="previous_disabled">
                        <h:outputText  id="idwOBS711"  value="Anterior" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="next">
                        <h:outputText  id="idw81OBS11"  value="Siguiente" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="next_disabled">
                        <h:outputText  id="idw8191OBS"  value="Siguiente"  styleClass="scrollerCell" />
                    </f:facet>
		     	 </rich:datascroller>
		       </h:panelGrid>

			  </f:facet>
						                 								      
					            </rich:dataTable>
					            
					            </div>
					      </h:panelGroup>   
					</div> </td>		
					
					
					 </tr>
						        </table>						      
						      </td>
						      
						      				    
						    </tr>
						  
						  
						   
						    </table>				      
	            </td>	
	            	<td width="10%" align="right"  >
           				
           			  <a4j:commandLink id="lnkpnlObservacionesOBS" styleClass="btnInteriores"  action="#{fichaBean.guardarFichasObservaciones}"   reRender="camposObservaciones, detalleTablaCertificados" oncomplete="mostrarMsg()"   rendered="#{fichaBean.mostrarBotonModificarObservacion=='N' and fichaBean.mostrarAgregarObservaciones=='S' }"    >   
                    		<span class="nuevo">Guardar</span>
           				</a4j:commandLink>
           				 <a4j:commandLink id="lnkpnlModificarObservacionesOBS" styleClass="btnInteriores"  action="#{fichaBean.modificarFichasObservaciones}"   reRender="camposObservaciones" oncomplete="mostrarMsg()"  rendered="#{fichaBean.mostrarBotonModificarObservacion=='S' and fichaBean.mostrarAgregarObservaciones=='S' }"   >   
                    		<span class="nuevo">Modificar</span>
           				</a4j:commandLink>
           				
           					 <a4j:commandLink id="lnkpnlEnviarObservacionesOBS" styleClass="btnInteriores"  action="#{fichaBean.enviarFichasObservaciones}"    onclick="Richfaces.hideModalPanel('pnlObservaciones')" reRender="detallesBody" oncomplete="mostrarMsg()"  rendered="#{fichaBean.mostrarBotonModificarObservacion=='N' and fichaBean.mostrarAgregarObservaciones=='S' }"     >   
                    		<span class="siguiente">Enviar</span>
           				</a4j:commandLink>
           				
           					  <h:commandLink id="salirObservacionesOBS"  styleClass="btnInteriores"    action="#{fichaBean.limpiarFichasObservaciones}"  reRender="camposObservaciones"   rendered="#{fichaBean.mostrarAgregarObservaciones=='S' }" > 
								       			  <span class="limpiar">Limpiar</span>
								           </h:commandLink>
	            	</td>
               	</tr>            	
            	</table>
       <!--     </div>  -->
     </h:panelGroup>
     
           </rich:panel>
 	
    </a4j:form>  
    </f:subview>
  
</rich:modalPanel> 



<!-- MODAL PARA CANCELACION COMPROBANTE A CREDITO -->
 <rich:modalPanel id="pnlRZDosCredito" width="550" height="420">             
 
	<f:facet name="header">
          <h:outputText id="lblpnlRZ1DosCredito" value="ASIGNACIÓN DE EXPEDIENTES" />
     </f:facet>
     <f:facet name="controls">
      	   <h:graphicImage value="/common/images/close.png" style="cursor:pointer" 
      	   onclick="Richfaces.hideModalPanel('pnlRZDosCredito')" />
     </f:facet>
     <f:subview id="svfrmExpMdlDerivarRZ1Credito">
	<a4j:form id ="modalRZDosCredito" style="width: 100%;height: 100%" >
      
       <rich:panel  id="panelModalRZDosCredito" >
       
   
        <!--     <div  >  -->
        <h:panelGroup id="camposRZCredito">    
               <table >
               	<tr>
               	 <td width="88%">
               	 <table width="100%" border="0">
               	 <tr><td width="70%"></td>
               	     <td width="30%"></td></tr>
               	  
     				  <tr>
     				   <td width="100%" colspan="2" >
						    <table  width="100%">
						    
						    <tr>
						    <td  ><h:outputText id="lblNroExpediente2" value="N° Expediente:" /></td>
					
								<td  >   <h:outputText id="txtNroExpediente2" value="#{fichaBean.numeroExpedienteAsignado}"   style="font-weight:bold; font-size:14px"    >
			                           
			                       </h:outputText></td>
						    
						    </tr>
						    
						     <tr>
						    <td  ><h:outputText id="lblSoli2" value="Cantidad Solicitada:" /></td>
					
								<td  >   <h:outputText id="txtSoli2" value="#{fichaBean.cantidaSolicitadaAsignada}"   style="font-weight:bold; font-size:14px"    >
			                           
			                       </h:outputText></td>
						    
						    </tr>
						    
						    <tr>
								    			
						   				  
						    <td width="20%" align="left"><h:outputText id="lblUsuarioRegistro2" value="Técnico:"   /></td>
					        <td width="60%" align="left">
				                 <h:selectOneMenu value="#{fichaBean.codigoUsuarioRegistroAsignacion}" id="cmbUsuarioRegistro2"   >
								    		 
								    			<f:selectItems value="#{fichaBean.listarSoloUsuariosRegistroAsignacion}" />								    			
								    			</h:selectOneMenu>
							</td>
						    </tr>
						    
						    <tr>
						    <td  align="left"> Código(s)  </td>
						    <td>
						       <h:inputText id="txtCodigos" value="#{fichaBean.codigoBienesAsignacion}"   style="width:99%;"  maxlength="200"   onkeypress="return soloNumerosConGuionComa(event);"    >
							   </h:inputText>
													 
						    </td>
						    </tr>
						    
						    </table>
						    </td>
     				  </tr>
     				
     				
     				  <tr>
     				   <td width="100%" colspan="2" >
     				   
     				   <br></br>
						    <rich:dataTable id="tableAsignacion" value="#{fichaBean.listAsignacion}" 
		  							   binding="#{fichaBean.tablaAsignacion}"  
		    						   var="mi" rows="10"
				                		style="margin:auto;width:60%;"
		                    			onRowMouseOver="this.style.backgroundColor='#def'"
		                    			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
		                    			
		     	         			  
			 <rich:column style="width:15%; text-align:center;">
				   <f:facet name="header" styleClass="TitTablaAzul" >
				     <h:outputText id="tbloupnlMI" value="Código Bien" style="font-weight: bold ; text-align:center;"/>
				   </f:facet>
				   <h:outputText id="tblblinnroSiMI" value="#{mi.numeroBien}"/>
			  </rich:column> 
			  
		      <rich:column style="width:8%; text-align:center;">
				   <f:facet name="header" styleClass="TitTablaAzul" >
				     <h:outputText id="tblouCantidad" value="Utilizado" style="font-weight: bold ; text-align:center;"/>
				   </f:facet>
				   <h:outputText id="tblblCantidad" value="#{mi.utilizado=='S'?'Si':'No'}"  style="text-align:center; "/>
			  </rich:column>
			  
		
			  
			   <rich:column  width="8%" id="accMantRIngMI" style="text-align:center;"  rendered="#{1==2}" >
	             <f:facet name="header">
	              <h:outputText id="idicoMI3" value="Acción" style="font-weight: bold ; text-align:center;"/>
	             </f:facet> 	             
	                    
	              	<a4j:commandLink  id="ttQuitarRefDir" action="#{fichaBean.eliminarListaAsignacion}" reRender="panelModalUODosRM" inmediate="true"  rendered="#{mi.utilizado=='N' }" >  
																<h:graphicImage value="/common/images/remove.png" style="border:0;width:20px; height:20px;"/>	            	
					    </a4j:commandLink>
					 <rich:toolTip for="ttQuitarRefDir" direction="bottom-left" value="Eliminar" />
								               
	            </rich:column>
			  
			  		  <f:facet name="footer">

		      	<h:panelGrid columns="5" columnClasses="alignCenter"  fastControls="hide" id="paginacion17212">
		      	  
	   		       
	   			 <h:outputText  id="idw1836"  value="Página " />
		     	 <rich:datascroller  id="idw1845"  for="tableAsignacion" maxPages="3"   fastControls="hide"  >
		     	 	<f:facet name="previous">
                        <h:outputText  id="idw1864"  value="Anterior" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="previous_disabled">
                        <h:outputText  id="idw1873"  value="Anterior" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="next">
                        <h:outputText  id="idw1882"  value="Siguiente" styleClass="scrollerCell" />
                    </f:facet>
                    <f:facet name="next_disabled">
                        <h:outputText  id="idw1891"  value="Siguiente"  styleClass="scrollerCell" />
                    </f:facet>
		     	 </rich:datascroller>
		       </h:panelGrid>

			  </f:facet>
			  
			</rich:dataTable>
					    </td>
					    </tr>
						    
					  
     			 </table> 				      
	            </td>	
	          <td width="2%"></td>
	            	<td width="10%" align="right">
           				
           			  <a4j:commandLink id="lnkpnlRZ2DosCredito" styleClass="btnInteriores"  action="#{fichaBean.asignarExpedienteaTecnico}"        reRender="camposRZCredito, detalleTablaCertificados, amposIngresoBand, tableAsignacion" oncomplete="mostrarMsg()"    >   
                    		<span class="nuevo">Guardar</span>
           				</a4j:commandLink>
           				
           				  <a4j:commandLink id="lnkpnlRZ2DosCredito2" styleClass="btnInteriores"  action="#{fichaBean.eliminarAsignacionaTecnico}"   rendered="#{!empty fichaBean.listAsignacion}"  onclick="if (!confirm('¿Estas seguro que deseas quitar TODOS los Códigos de bienes de este expediente?')){return false;}"  reRender="camposRZCredito, detalleTablaCertificados, tableAsignacion" oncomplete="mostrarMsg()"    >   
                    		<span class="cancelar">Eliminar</span>
           				</a4j:commandLink>
           				
           					  <h:commandLink id="salirReqBienes2Credito"  styleClass="btnInteriores"    onclick="Richfaces.hideModalPanel('pnlRZDosCredito')" > 
								       			  <span class="salir">Salir</span>
								           </h:commandLink>
	            	</td>
               	</tr>            	
            	</table>
       <!--     </div>  -->
     </h:panelGroup>
     
           </rich:panel>
 	
    </a4j:form>  
    </f:subview>
  
</rich:modalPanel> 


</ui:composition>

</html>
