<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<ui:composition 
xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich"
     xmlns:t="http://myfaces.apache.org/tomahawk"> 

<style>
.alignCenter
{
text-align:center;
}
</style>
	
<div class="titSeccion">
	  <h:panelGroup styleClass="iconoSeccion" layout="block" rendered="#{fichaBean.operacionEnFicha == 'N'}" >MINC-CNP | REGISTRAR </h:panelGroup> 
	 <h:panelGroup styleClass="iconoSeccion" layout="block" rendered="#{fichaBean.operacionEnFicha == 'M'}" >MINC-CNP | MODIFICAR </h:panelGroup>
	 <h:panelGroup styleClass="iconoSeccion" layout="block" rendered="#{fichaBean.operacionEnFicha == 'V'}" >MINC-CNP | VISUALIZAR </h:panelGroup>  
	       
</div>	

  <f:subview id="svfrmRegistroCertificadoCERT">
  	<a4j:form id="parametrosRegistroCertificadoCERT"    enctype="multipart/form-data" >
   <div class="contenidoBtnesSup">
    <h:panelGroup id="camposRegistroCertificadoCERT" >  
     <table border="0" width="100%">
       <tr>   <td width="10%" > </td>
                <td width="30%" > </td>
                <td width="5%"></td>
                <td width="20%"></td>
                <td width="15%"></td>
                <td width="20%"></td>
      </tr>
        <!--  -->  
       <tr>
         <td colspan="6">
         
              <div  style="border-width: 1px; border-style: solid; border-color:  #CAC6C6;">	
					                  <span style="font-size: 14px;color:navy;font-weight:bold"> Formulario de Datos del Certificado</span>
					                     
					                      <table width="100%" >
			    				     <tr> 
			    				     <td width="80%"></td>
			    				       <td align="right"><h:outputText id="lblCodigoCertCERT" value="Número:" rendered="#{fichaBean.ficha.numeroCertificado!=null}" /> </td>
			    				       <td align="right"> <h:outputText id="txtCodigoCertCERT" value="#{fichaBean.ficha.numeroCertificadoFormato}"  style="font-weight: bold" rendered="#{fichaBean.ficha.numeroCertificado!=null}"/> </td>
			    				     </tr>
			    				   
			    				   </table>
			    				   
					                  <table width="100%">
					                  
					               
					                  
					                    <tr>
					                    <td width="25%" ></td>
					                    <td width="15%" >
					                     <h:outputText id="lblNumeroExpedienteCERT" value="N° de Expediente:" /> 
					                     
					                    </td>
					                    
					                      <td width="25%"><h:outputText id="lblFormatoNumeroExpedienteCERT" value="#{fichaBean.ficha.numeroExpediente}" style="width:99%;font-weight:bold"   /> 
					                       
					                      </td>
					                      
					                      <td width="10%">					                      
									      
					                      </td>
					                      <td width="25%"   valign="middle" rowspan="5" align="center" >
					                      
					                    
					                      </td>
					                    </tr>
					                    
					                    <tr>
					                    <td></td>
					                    <td>
					                    <h:outputText id="lblNombreApellidoCERT" value ="#{ (fichaBean.ficha.tipoPersona=='E')?'Nombre':'Nombre y apellidos'}"     style="font-size:12px;" /> 
							  	       </td>
							  	       
							  	       <td colspan="2"> 
							  	        <h:outputText id="txtNombreApellidoCERT" value="#{fichaBean.ficha.nombresApellidos}"  style="width:99%;font-weight:bold" >
							  	        
								 </h:outputText> </td>
					                    <td></td>
					                    </tr>
					                    
					                    <tr>
					                   <td width="25%" ></td>
					                    <td width="15%" >
					                     <h:outputText id="lblTipoPersonaCERT" value="Tipo Persona:" /> 
					                     
					                    </td>
					                    
					                      <td width="25%">
					                        <h:selectOneMenu value="#{fichaBean.ficha.tipoPersona}"  id="cmbAbUSQTipoPropietarioFichaCERT" style="font-size:12px"  disabled="#{!fichaBean.modoEditable ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}"   >         
								                <f:selectItem id="iag0" itemLabel="--Seleccione--" itemValue="" />
								                <f:selectItem id="iag1" itemLabel="Persona Natural" itemValue="P" />
										        <f:selectItem id="iag2" itemLabel="Persona Jurídica" itemValue="E" />
										         	<a4j:support event="onchange"   ajaxSingle="true"  reRender="camposRegistroCertificadoCERT, txtTipoDocumentoCERT"  action="#{fichaBean.seleccionarTipoDocumento}" />							      								        
								            </h:selectOneMenu> 
					                      
					                      </td>
					                      
					                      <td width="10%">					                      
									   
					                      </td>
					                      <td width="25%"   valign="middle" rowspan="5" align="center" >
					                      
					                    
					                      </td>
					                  
					                  </tr>
					                    
					                    <tr><td></td>
					                    <td >     <h:outputText id="lblTipoDocumentoCERT" value="Tipo Documento:"  style="font-size:12px;" /> </td>
					                    <td  colspan="2">
					                      <table width="100%" >
					                        <tr>
					                          <td width="50%">  
					                            <h:selectOneMenu value="#{fichaBean.ficha.tipoDocumento}"  id="txtTipoDocumento" style="font-size:12px; width:100%"  disabled="#{!fichaBean.modoEditable  ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}">   
									                 <f:selectItems value="#{fichaBean.listarTipoDocumentoXTipoPersona}"></f:selectItems>
												</h:selectOneMenu>
												
												
												 
											 </td>
											 <td width="25%" align="right"> <h:outputText id="lblNumeroDocumentoCERT" value="Número Documento:"  style="font-size:12px;" /> </td>
											 <td width="25%">  <h:outputText id="txtNumeroDocumentoCERT" value="#{fichaBean.ficha.numeroIdentidad}"   style="width:99%;font-weight:bold"    >
								 </h:outputText></td>
					                        </tr>					                      
					                      </table>
					                    </td>
					                    <td></td>
					                    </tr>
					                    
					                           <tr>
					                      <td></td>
					                      <td><h:outputText id="lblNacionalidadCERT" value="Nacionalidad:"  style="font-size:12px;"  rendered="#{fichaBean.ficha.tipoPersona!='E'}" /> </td>					                      
					                      <td colspan="2">   <h:outputText id="txtNacionalidadCERT" value="#{fichaBean.ficha.nacionalidad}"    maxlength="200"   style="width:99%;font-weight:bold"  >
													 </h:outputText> </td>
					                      <td></td>
					                    </tr>
					                    
					                    
					                    <tr>
					                      <td></td>
					                      <td><h:outputText id="lblDomicilioCERT" value="Domicilio:"  style="font-size:12px;" /> </td>					                      
					                      <td colspan="2">   <h:outputText id="txtDomicilioCERT" value="#{fichaBean.ficha.domicilio}"  style="width:99%;font-weight:bold" >
													 </h:outputText> </td>
					                      <td></td>
					                    </tr>
					                    
					                    <tr>
					                      <td></td>
					                      <td><h:outputText id="lblDestinoCERT" value="Destino:"  style="font-size:12px;" /> </td>	
					                      
					                         <td  colspan="2">
					                      <table width="100%" >
					                        <tr>
					                          <td   >  
					                                <h:selectOneMenu value="#{fichaBean.ficha.codigoPais}"  id="cmbCodigoPaisCERT" style="font-size:12px; width:100%"  disabled="#{!fichaBean.modoEditable  ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}">   
									                 <f:selectItems value="#{fichaBean.listarPais}"></f:selectItems>
												</h:selectOneMenu>
											 </td>
											 
					                        </tr>					                      
					                      </table>
					                    </td>
					                    
					                    	
					                    <td>
					                
					                    </td>
					                    </tr>
					                    
					                      <tr>
					                      <td></td>
					                      <td><h:outputText id="lblCantidadSolicitadaCERT" value="Cantidad Solicitada:"  style="font-size:12px;" /> </td>	
					                      
					                         <td  colspan="2">
					                      <table width="100%" >
					                        <tr>
					                          <td width="40%">  
					                          <h:outputText id="txtCantidadSolicitadaCERT" value="#{fichaBean.ficha.cantidadSolicitada}"   style="width:99%;font-weight:bold" >
								              </h:outputText>
											 </td>
											 <td width="25%" align="right"> 
											  <h:outputText id="lblCantidadAutorizadaCERT" value="Cantidad Autorizada:"  style="font-size:12px;" rendered="#{usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilAdministrativo}"  readonly="true" /> 
											  </td>
											 <td width="35%"> 
										   <h:outputText id="txtCantidadAutorizadaCERT" value="#{fichaBean.ficha.cantidadAutorizada}"   style=" font-weight:bold" >
								              </h:outputText> 
								              </td>
					                        </tr>					                      
					                      </table>
					                    </td>
					                    
					                    	
					                    <td>
					                
					                    </td>
					                    </tr>
					                    
					                    <tr>
					                     <td  colspan="5">
					                     <h:panelGroup  id ="pnlGroupCertificadoVer"  rendered="#{fichaBean.verCertificadoImg=='S'}">
					                     
					                     <table  width="100%"  >
					                        <tr>
					                        <td width="20%"><h:outputText id="lblAdjuntoImagen3CERTIMG" value="Presione para Ver Certificado:"  style="font-size:12px;" /> </td>
					                        <td width="60%" >  <h:outputLink id="colbtnVerAccionAdjuntoCERTificadoIMG" value="#{fichaBean.ficha.rutaCertificadoDocumento}"
				    		 					target="_blank" rendered="#{(fichaBean.ficha.nombreArchivo!=null and fichaBean.ficha.nombreArchivo!= '')}">
				    		 					<h:graphicImage value="/common/images/iconos/b_ver.png" /></h:outputLink> </td>
					                        <td width="20%">  
													</td>
					                        </tr> 
					                      </table>
					                     </h:panelGroup>
					                      
					                      <h:panelGroup  id ="pnlGroupCertificadoRegistro"  rendered="#{fichaBean.verCertificadoImg=='N'}">
					                      <table width="100%">
					                        <tr>
					                        <td width="20%"><h:outputText id="lblAdjuntoImagen3CERT" value="Adjuntar Certificado:"  style="font-size:12px;" /> </td>
					                        <td width="60%" > <t:inputFileUpload id="filAdjuntarArchivo3CERT" value="#{fichaBean.oUpCertificado}" styleClass="inputfUp"  /> </td>
					                        <td width="20%"> 
														 <h:outputLink id="colbtnVerAccionAdjuntoCERTificado" value="#{fichaBean.ficha.rutaCertificadoDocumento}"
				    		 					target="_blank" rendered="#{(fichaBean.ficha.nombreArchivo!=null and fichaBean.ficha.nombreArchivo!= '')}">
				    		 					<h:graphicImage value="/common/images/iconos/b_ver.png" /></h:outputLink>
				    		 					
													<a4j:commandButton image="/common/images/delete.gif" reRender="detallesBody" rendered="#{fichaBean.ficha.nombreArchivo!=null and usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilConsultaPais}"    action="#{fichaBean.eliminarCertificadoIMG}"   onclick="if (!confirm('¿Estas seguro que deseas eliminar el certificado?')){return false;}"   > 
														
													</a4j:commandButton>
													</td>
					                        </tr> 
					                      </table>
					                      </h:panelGroup>
					                     </td>
					                    
					                    </tr>
					                    
					                    
					                    
					                    
					                    
					                      
					                    
					                     
					                    
					                    <tr>
					                    
					                    <td align="center" colspan="5">
					                    <br></br>
					                    
					                    <h:commandButton id="cbtAgregarGuardarRegistroCERT" value="Guardar" action="#{fichaBean.guardarCertificadoExpediente}"     reRender="detallesBody" oncomplete="mostrarMsg()"  rendered="#{usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilConsultaPais}"  />
					                      <rich:spacer  id="idEspacioBotonsd1CERT"  width="20" height="10" ></rich:spacer>
					                   
					                    <a4j:commandButton value="Salir"  id="cmbFormRegistroCERT"  reRender="detallesBody" oncomplete="mostrarMsg()"  action="#{fichaBean.salirFormulario}"    >
										                 <a4j:actionparam name="ruta" value="/pages/registro/bandejaConsultaCertificados.xhtml" assignTo="#{beanLinkMenu.ruta}"/>
										             </a4j:commandButton>
										             
										             
										 </td>
					                    
					                    </tr>
					                    
					                    
					                  </table>
					                  
					                </div> 
         </td>
       
       </tr>   
                
  
      
</table>   
     </h:panelGroup>
   </div>

<div class="msgInfo" id="msg">				
					<rich:messages ajaxRendered="true" infoClass="rf-msgs-inf" warnClass="rf-msgs-wrn" errorClass="rf-msgs-err"/>			   	
	    </div> 

 </a4j:form>
 </f:subview>  
  
  
  
 <rich:modalPanel id="waitPanel2" style="text-align:center" autosized="true" >
   <h:graphicImage value="/common/images/loading42.gif" style="border:0;"/>
</rich:modalPanel>  
  
 <!--  -->
      

<!-- MODAL PARA CANCELACION COMPROBANTE A CREDITO -->
 

</ui:composition>

</html>
