<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<style>
.alignCenter {
	text-align: center;
}
</style>
	<script type="text/javascript">
		set_solicitud();
	</script>
	<div class="titSeccion">
		<h:panelGroup styleClass="iconoSeccion" layout="block"
			rendered="#{fichaBean.operacionEnFicha == 'N'}">MINC-CNP | REGISTRAR </h:panelGroup>
		<h:panelGroup styleClass="iconoSeccion" layout="block"
			rendered="#{fichaBean.operacionEnFicha == 'M'}">MINC-CNP | MODIFICAR </h:panelGroup>
		<h:panelGroup styleClass="iconoSeccion" layout="block"
			rendered="#{fichaBean.operacionEnFicha == 'V'}">MINC-CNP | VISUALIZAR </h:panelGroup>

	</div>

	<f:subview id="svfrmRegistroCertificado">
		<a4j:form id="parametrosRegistroCertificado"
			enctype="multipart/form-data">
			<div class="contenidoBtnesSup">
				<h:panelGroup id="camposRegistroCertificado">
					<table border="0" width="100%">
						<tr>
							<td width="10%"></td>
							<td width="30%"></td>
							<td width="5%"></td>
							<td width="20%"></td>
							<td width="15%"></td>
							<td width="20%"></td>
						</tr>
						<!--  -->
						<tr>
							<td colspan="6">

								<div
									style="border-width: 1px; border-style: solid; border-color: #CAC6C6;">
									<span style="font-size: 14px; color: navy; font-weight: bold">
										Formulario de Datos del Expediente</span>

									<table width="100%">
										<tr>
											<td width="80%"></td>
											<td align="right"><h:outputText id="lblCodigoCert"
													value="Número:"
													rendered="#{fichaBean.ficha.numeroCertificado!=null}" /></td>
											<td align="right"><h:outputText id="txtCodigoCert"
													value="#{fichaBean.ficha.numeroCertificadoFormato}"
													style="font-weight: bold"
													rendered="#{fichaBean.ficha.numeroCertificado!=null}" /></td>
										</tr>

									</table>

									<table width="100%">

										<tr>
											<td width="25%"></td>
											<td width="15%"><h:outputText id="lblEsWeb"
													value="Es web:" /> <input type="checkbox" id="esweb"
													class="esweb_check" value="" /></td>
											<td width="25%"><h:inputText id="busq_solc_txt"
													class="busq_solc_txt"
													onkeypress="return soloNumerosConGuion(event);"
													style="width:60%;display:none" maxlength="15"
													type="checkbox">
												</h:inputText></td>
											<td width="10%"><h:graphicImage class="busq_solc"
													id="busqSolicitud" value="/common/images/iconos/b_ver.png"
													style="border:2;width : 25px; height : 25px;display:none;" />
											</td>


										</tr>

										<tr>
											<td width="25%"></td>
											<td width="15%"><h:outputText id="lblNumeroExpediente"
													value="N° de Expediente:" /></td>

											<td width="25%"><h:outputText
													id="lblFormatoNumeroExpediente"
													value="(Formato:######-AÑO)" style="font-size:10px" /><br></br>
												<h:inputText id="txtNumeroExpediente"
													value="#{fichaBean.ficha.numeroExpediente}"
													style="width:60%;" maxlength="15"
													reRender="camposRegistroCertificado"
													onkeypress="return soloNumerosConGuion(event);"
													disabled="#{!fichaBean.modoEditable  ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador }">
													<a4j:support event="onkeyup"
														onsubmit="if (event.keyCode != 13) { return false}"
														reRender="camposRegistroCertificado"
														action="#{fichaBean.buscarExpedienteTramiteDocumentario}"
														oncomplete="mostrarMsg()" />
												</h:inputText></td>

											<td width="10%"><h:commandLink id="imodificarRep234"
													action="#{fichaBean.buscarExpedienteTramiteDocumentario}"
													reRender="detallesBody" oncomplete="mostrarMsg()"
													rendered="#{fichaBean.modoEditable}">
													<h:graphicImage value="/common/images/iconos/b_ver.png"
														style="border:2;width : 25px; height : 25px;" />
												</h:commandLink></td>
											<td width="25%" valign="middle" rowspan="5" align="center">


											</td>
										</tr>

										<tr>
											<td></td>
											<td><h:outputText id="lblNombreApellido"
													value="#{ (fichaBean.ficha.tipoPersona=='E')?'Nombre':'Nombre y apellidos'}"
													style="font-size:12px;" /></td>

											<td colspan="2"><h:inputText id="txtNombreApellido"
													value="#{fichaBean.ficha.nombresApellidos}"
													style="text-transform: uppercase;width:99%;"
													maxlength="100" readonly="true">
													<f:converter converterId="ConverterToUpperString" />
												</h:inputText></td>
											<td></td>
										</tr>

										<tr>
											<td width="25%"></td>
											<td width="15%"><h:outputText id="lblTipoPersona"
													value="Tipo Persona:" /></td>

											<td width="25%"><h:selectOneMenu
													value="#{fichaBean.ficha.tipoPersona}"
													id="cmbAbUSQTipoPropietarioFicha" style="font-size:12px"
													disabled="#{!fichaBean.modoEditable ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}">
													<f:selectItem id="iag0" itemLabel="--Seleccione--"
														itemValue="" />
													<f:selectItem id="iag1" itemLabel="Persona Natural"
														itemValue="P" />
													<f:selectItem id="iag2" itemLabel="Persona Jurídica"
														itemValue="E" />
													<a4j:support event="onchange" ajaxSingle="true"
														reRender="camposRegistroCertificado, txtTipoDocumento"
														action="#{fichaBean.seleccionarTipoDocumento}" />
												</h:selectOneMenu></td>

											<td width="10%"></td>
											<td width="25%" valign="middle" rowspan="5" align="center">


											</td>

										</tr>

										<tr>
											<td></td>
											<td><h:outputText id="lblTipoDocumento"
													value="Tipo Documento:" style="font-size:12px;" /></td>
											<td colspan="2">
												<table width="100%">
													<tr>
														<td width="50%">
															<!--     <h:inputText id="txtTipoDocumento" value="#{fichaBean.ficha.tipoDocumento}"   style="width:99%;"  maxlength="50"   readonly="#{fichaBean.ficha.tipoDocumento!=null}"    disabled="#{!fichaBean.modoEditable}"  >
													 </h:inputText>  --> <h:selectOneMenu
																value="#{fichaBean.ficha.tipoDocumento}"
																id="txtTipoDocumento" style="font-size:12px; width:100%"
																disabled="#{!fichaBean.modoEditable  ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}">
																<f:selectItems
																	value="#{fichaBean.listarTipoDocumentoXTipoPersona}"></f:selectItems>
															</h:selectOneMenu> <!--   <h:selectOneMenu value="#{fichaBean.ficha.tipoDocumento}"  id="txtTipoDocumento"    disabled="#{!fichaBean.modoEditable ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}" >         
				                                      	<f:selectItem itemValue="" itemLabel="Seleccione" />	
				                                   	   	<f:selectItem itemValue="CEE" itemLabel="Carné de Extranjería"   /> 
				                                   	   	<f:selectItem itemValue="DNI" itemLabel="D.N.I." />			   
													   	<f:selectItem itemValue="PAS" itemLabel="Pasaporte"   />
													   	<f:selectItem itemValue="RUC" itemLabel="R.U.C."   />
					                                    </h:selectOneMenu>	-->
														</td>
														<td width="25%" align="right"><h:outputText
																id="lblNumeroDocumento" value="Número Documento:"
																style="font-size:12px;" /></td>
														<td width="25%"><h:inputText id="txtNumeroDocumento"
																value="#{fichaBean.ficha.numeroIdentidad}"
																style="width:99%;" maxlength="15"
																onkeypress="return soloNumerosLetrasYEspaciosEnBlanco(event);"
																disabled="#{!fichaBean.modoEditable ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}">
															</h:inputText></td>
													</tr>
												</table>
											</td>
											<td></td>
										</tr>

										<tr>
											<td></td>
											<td><h:outputText id="lblNacionalidad"
													value="Nacionalidad:" style="font-size:12px;"
													rendered="#{fichaBean.ficha.tipoPersona!='E'}" /></td>
											<td colspan="2"><h:inputText id="txtNacionalidad"
													value="#{fichaBean.ficha.nacionalidad}" style="width:99%;"
													maxlength="200"
													readonly="#{!fichaBean.modoEditable  ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}"
													rendered="#{fichaBean.ficha.tipoPersona!='E'}">
												</h:inputText></td>
											<td></td>
										</tr>


										<tr>
											<td></td>
											<td><h:outputText id="lblDomicilio" value="Domicilio:"
													style="font-size:12px;" /></td>
											<td colspan="2"><h:inputText id="txtDomicilio"
													value="#{fichaBean.ficha.domicilio}" style="width:99%;"
													maxlength="200"
													readonly="#{!fichaBean.modoEditable  ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}">
												</h:inputText></td>
											<td></td>
										</tr>

										<tr>
											<td></td>
											<td><h:outputText id="lblDestino" value="Destino:"
													style="font-size:12px;" /></td>

											<td colspan="2">
												<table width="100%">
													<tr>
														<td><h:selectOneMenu
																value="#{fichaBean.ficha.codigoPais}" id="cmbCodigoPais"
																style="font-size:12px; width:100%"
																disabled="#{!fichaBean.modoEditable  ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador}">
																<f:selectItems value="#{fichaBean.listarPais}"></f:selectItems>
															</h:selectOneMenu></td>
														<!--  <td width="25%" align="right">  </td>
											 <td width="25%"> 
											 </td>-->
													</tr>
												</table>
											</td>


											<td></td>
										</tr>

										<tr>
											<td></td>
											<td><h:outputText id="lblCantidadSolicitada"
													value="Cantidad Solicitada:" style="font-size:12px;" /></td>

											<td colspan="2">
												<table width="100%">
													<tr>
														<td width="40%"><h:inputText
																id="txtCantidadSolicitada"
																value="#{fichaBean.ficha.cantidadSolicitada}"
																style="width:99%;" maxlength="5"
																onkeypress="return soloNumeros(event);"
																readonly="#{!fichaBean.modoEditable  ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador ||  usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilDirector}">
															</h:inputText></td>
														<td width="25%" align="right"><h:outputText
																id="lblCantidadAutorizada" value="Cantidad Autorizada:"
																style="font-size:12px;"
																rendered="#{usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilAdministrativo}"
																readonly="true" /></td>
														<td width="35%"><h:inputText
																id="txtCantidadAutorizada"
																value="#{fichaBean.ficha.cantidadAutorizada}"
																style="width:99%;" maxlength="5"
																rendered="#{usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilAdministrativo}"
																readonly="true">
															</h:inputText></td>
													</tr>
												</table>
											</td>


											<td></td>
										</tr>

										<tr>
											<td colspan="5"><rich:simpleTogglePanel
													switchType="client" label="Descripción de Bienes"
													id="pgFormDetalleRegistro" opened="true"
													rendered="#{fichaBean.ficha.codigoFicha!=null and usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilAdministrativo }">

													<!--         <h:panelGroup id="pgFormDetalleRegistro"  rendered="#{fichaBean.ficha.codigoFicha!=null and usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilAdministrativo }"> -->

													<h:panelGroup id="DatosInicialesDescripcionBienes">

														<table border="0" cellpadding="4" width="100%">
															<tr>
																<td width="12%"><h:outputText id="lblInicio"
																		value="Descripción Inicial:" /></td>

																<td width="88%"><h:inputTextarea id="txtInicio"
																		style="font-size: 11px; width : 99%;"
																		value="#{fichaBean.ficha.descripcionInicial}" rows="2"
																		maxlength="200"
																		onfocus="agregarContadorCaracteres(this,200)"
																		onkeyup="return limitarCantidadCaracteres(this,200);"
																		onblur="quitarContadorCaracteres(this);"
																		validatorMessage="#{msj.nuevo_consolidacion_detalle_validator}"
																		readonly="#{!fichaBean.modoEditable}">

																	</h:inputTextarea></td>
															</tr>
														</table>
													</h:panelGroup>



													<div
														style="border-width: 1px; border-style: solid; border-color: #CAC6C6;">
														<span
															style="font-size: 14px; color: navy; font-weight: bold">
															Detalle</span>

														<h:panelGroup id="DetalleFormularioRegistro"
															rendered="#{fichaBean.modoEditable}">

															<table width="100%">
																<tr>
																	<td width="16%"><h:outputText id="lblCodigos"
																			value="Código(s):" style="font-size:12px;" /></td>
																	<td width="74%">
																		<table width="100%">

																			<tr>
																				<td width="80%"><h:inputText id="txtCodigos"
																						value="#{fichaBean.bien.conjunto}"
																						style="width:85%;" maxlength="200"
																						onkeypress="return soloNumerosConGuionComa(event);"
																						disabled="#{fichaBean.deshabilitarCodigosBienes=='S'}">
																					</h:inputText></td>

																				<td width="20%"><a4j:commandButton
																						id="cbtParam1DosRI" style="font-size: 10px"
																						image="/common/images/iconos/buscar.png"
																						action="#{fichaBean.buscarBandejaAsignacion}"
																						reRender="panelModalRZDosCredito9"
																						oncomplete="Richfaces.showModalPanel('pnlRZDosCredito9');">

																					</a4j:commandButton> <rich:toolTip id="tM19823" for="cbtParam1DosRI"
																						direction="top-left"
																						value="Ver Códigos Disponibles" /></td>
																			</tr>

																		</table>
																	</td>

																	<td width="10%" align="center" valign="middle"
																		rowspan="3"><h:commandButton
																			id="cbtAgregarAdjuntosBien" value="Agregar/Editar"
																			action="#{fichaBean.agregarBienImagenes}"
																			reRender="detallesBody" oncomplete="mostrarMsg()" />
																		<a4j:commandButton id="cbtCancelarAdjuntosBien"
																			value="Cancelar"
																			action="#{fichaBean.cancelarModificarBienImagenes}"
																			rendered="#{fichaBean.deshabilitarCodigosBienes=='S'}"
																			reRender="pgFormDetalleRegistro"
																			oncomplete="mostrarMsg()" /></td>
																</tr>

																<tr>

																	<td><h:outputText id="lblDescripcionBien"
																			value="Descripción Bien(s):" style="font-size:12px;" />
																	</td>
																	<td><h:inputTextarea id="txtDescripcionBien"
																			style="font-size: 11px; width : 99%;"
																			value="#{fichaBean.bien.descripcion}" rows="4"
																			maxlength="2000"
																			onfocus="agregarContadorCaracteres(this,2000)"
																			onkeyup="return limitarCantidadCaracteres(this,2000);"
																			onblur="quitarContadorCaracteres(this);"
																			validatorMessage="#{msj.nuevo_consolidacion_detalle_validator}">

																		</h:inputTextarea></td>

																</tr>
																<tr>
																	<td><h:outputText id="lblAdjuntoImagen3"
																			value="Adjuntar Imagen:" style="font-size:12px;" />
																	</td>
																	<td><t:inputFileUpload id="filAdjuntarArchivo3"
																			value="#{fichaBean.oUpImagen}" styleClass="inputfUp" />
																	</td>
																</tr>



															</table>
														</h:panelGroup>

														<!--         <tr>
					                        <td colspan="3">-->
														<table width="100%">
															<tr>
																<td align="center">
																	<div
																		style="max-height: 356px; max-width: 749px; overflow-x: scroll; overflow-y: scroll; padding: 5px;"
																		align="center">

																		<rich:dataTable id="dteDatosOtrosAnexos"
																			value="#{fichaBean.listaImagen}"
																			binding="#{fichaBean.tablaImagen}" var="an"
																			style="width:98%;" rows="5"
																			onRowMouseOver="this.style.backgroundColor='#FBEECA'"
																			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">


																			<rich:column style="width:5%;text-align:center;"
																				id="colDatosOtrosAnexosNro">
																				<f:facet name="header">
																					<h:outputText id="lblDatosOtrosAnexosNro"
																						value="N°"
																						style="font-weight: bold ; text-align:center;" />
																				</f:facet>
																				<h:outputText id="idnDatosOtrosAnexosNro"
																					value="#{an.item}" />
																			</rich:column>

																			<rich:column id="rcDatosOtrosAnexosCodigo"
																				width="15%" style="text-align:center">
																				<f:facet id="ch1Tipo" name="header">
																					<h:outputText id="chlblTipo" value="Código(s)"
																						style="font-weight: bold ; text-align:center;" />
																				</f:facet>
																				<h:outputText id="clblTipo" value="#{an.conjunto}"
																					style="font-size: 12px;text-align:center" />
																			</rich:column>

																			<rich:column id="rcDatosOtrosAnexosReferencia"
																				width="50%">
																				<f:facet id="fctReferencia" name="header">
																					<h:outputText id="chlblReferencia"
																						value="Descripción"
																						style="font-weight: bold ; text-align:center;" />
																				</f:facet>
																				<h:outputText id="clblReferencia"
																					value="#{an.descripcion}" style="font-size: 12px;" />
																			</rich:column>



																			<rich:column id="rcDatosOtrosAnexosImagen"
																				width="20%" style="text-align:center">
																				<f:facet id="fctDatosOtrosAnexosImagen"
																					name="header">
																					<h:outputText id="chlblDatosOtrosAnexosImagen"
																						value="Imagen"
																						style="font-weight: bold ; text-align:center;" />
																				</f:facet>

																				<a4j:commandLink id="tblDatosOtrosAnexosImagen">
																					<h:graphicImage value="#{an.rutaImagenBien}"
																						style="max-width: 80px; max-height: 100px" />
																				</a4j:commandLink>

																			</rich:column>


																			<rich:column id="colDatosOtrosAnexosArchivo"
																				width="10%" style="text-align:center;">
																				<f:facet id="colhDatosOtrosAnexosArchivo"
																					name="header">
																					<h:outputText id="colhlblDatosOtrosAnexosArchivo"
																						value="Acción"
																						style="font-weight: bold ; text-align:center;" />
																				</f:facet>

																				<h:outputLink id="colbtnVerAccionAdjuntoImg"
																					value="#{an.rutaImagenBien}" target="_blank"
																					rendered="#{(an.nombreArchivo!=null and an.nombreArchivo!= '')}">
																					<h:graphicImage
																						value="/common/images/iconos/b_ver.png" />
																				</h:outputLink>

																				<rich:toolTip for="colbtnVerAccionAdjuntoImg"
																					direction="bottom-left" value="Ver Adjunto"
																					id="ttDireccionDModfiu345" />

																				<a4j:commandButton id="colbtnEditAccionAdjuntoImg"
																					image="/common/images/reqincompleto.png"
																					action="#{fichaBean.selecImgBien}"
																					reRender="dteDatosOtrosAnexos, DetalleFormularioRegistro"
																					rendered="#{fichaBean.modoEditable}" />
																				<rich:toolTip for="colbtnEditAccionAdjuntoImg"
																					direction="bottom-left" value="Modificar"
																					id="ttDireccionDModfiu33" />

																				<a4j:commandLink id="colbtnDelAccionAdjuntoAne"
																					action="#{fichaBean.eliminarImagenFicha}"
																					reRender="detallesBody"
																					rendered="#{fichaBean.modoEditable}"
																					oncomplete="mostrarMsg()"
																					onclick="if (!confirm('¿Estas seguro que deseas Eliminar?')){return false;}">
																					<h:graphicImage value="/common/images/remove.png"
																						style="border:0;width : 20px; height : 20px;" />
																				</a4j:commandLink>
																				<rich:toolTip for="colbtnDelAccionAdjuntoAne"
																					direction="bottom-left" value="Eliminar"
																					id="ttDireccionDGen33" />


																			</rich:column>

																			<f:facet name="footer">

																				<h:panelGrid columns="3" columnClasses="alignCenter"
																					fastControls="hide" id="pnlGridINMPaginacion">
																					<rich:spacer id="rsINMPag2" width="200" height="10"></rich:spacer>
																					<h:outputText id="lblINMpagina23" value="Página " />
																					<rich:datascroller id="dsINMPag"
																						for="dteDatosOtrosAnexos" maxPages="5"
																						fastControls="hide">
																						<f:facet name="previous">
																							<h:outputText id="idINMAntIni" value="Anterior"
																								styleClass="scrollerCell" />
																						</f:facet>
																						<f:facet name="previous_disabled">
																							<h:outputText id="idINMAnt" value="Anterior"
																								styleClass="scrollerCell" />
																						</f:facet>
																						<f:facet name="next">
																							<h:outputText id="idINMSgte" value="Siguiente"
																								styleClass="scrollerCell" />
																						</f:facet>
																						<f:facet name="next_disabled">
																							<h:outputText id="idINMSgteFin" value="Siguiente"
																								styleClass="scrollerCell" />
																						</f:facet>
																					</rich:datascroller>
																				</h:panelGrid>
																			</f:facet>


																		</rich:dataTable>
																	</div>
																</td>
															</tr>
														</table>

														<!--  </td>
					                       
					                       
					                       </tr>-->


														<br></br>
														<h:panelGroup id="DatosFinalesDescripcionBienes">

															<table border="0" cellpadding="4" width="100%">
																<tr>
																	<td width="12%"><h:outputText id="lblFial"
																			value="Descripción Final:" /></td>

																	<td width="88%"><h:inputTextarea id="txtFinal"
																			style="font-size: 11px; width : 99%;"
																			value="#{fichaBean.ficha.descripcionFinal}" rows="2"
																			maxlength="200"
																			onfocus="agregarContadorCaracteres(this,200)"
																			onkeyup="return limitarCantidadCaracteres(this,200);"
																			onblur="quitarContadorCaracteres(this);"
																			validatorMessage="#{msj.nuevo_consolidacion_detalle_validator}"
																			readonly="#{!fichaBean.modoEditable}">

																		</h:inputTextarea></td>
																</tr>
															</table>
														</h:panelGroup>

													</div>
													<!--       </h:panelGroup> -->
												</rich:simpleTogglePanel></td>

										</tr>


										<tr>
											<td colspan="5"><rich:simpleTogglePanel
													switchType="client" label="Documentación Registro"
													id="stpFOTOGRAFiA"
													rendered="#{fichaBean.ficha.codigoFicha!=null and usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilAdministrativo}">

													<h:panelGroup id="DocumentacionFormularioRegistro"
														rendered="#{fichaBean.modoEditable}">

														<table border="0" cellpadding="4" width="100%">


															<tr>
																<td width="20%"><h:outputText
																		id="lblReferenciaDocumentacion"
																		value="Número de Informe:" /></td>
																<td width="60%">

																	<table width="100%">
																		<tr>

																			<td width="15%"><h:selectOneMenu id="cmb_flag"
																					style="font-size:12px; width:100%;height:20px;"
																					value="#{fichaBean.documento.flagDocumento}"
																					onchange="cambiosgd();"
																					rendered="#{fichaBean.modoEditable}">
																					<f:selectItem id="nha4" itemLabel="SGD"
																						itemValue="D" />
																					<f:selectItem id="nha5" itemLabel="SITD"
																						itemValue="S" />
																				</h:selectOneMenu></td>
																			<td width="30%"><h:inputText
																					id="txtReferenciaDocumentacion"
																					value="#{fichaBean.documento.numeroDocumento}"
																					onkeypress="return soloNumeros(event);"
																					style="width:90%;" maxlength="10">
																				</h:inputText></td>
																			<!--  onkeypress="return soloNumeros(event);"  -->
																			<td width="15%"><h:selectOneMenu
																					id="cmb03_04Anio"
																					value="#{fichaBean.documento.sufijoDocumento}"
																					style="font-size:12px; width:100%;height:20px;"
																					rendered="#{fichaBean.modoEditable}">
																					<f:selectItems value="#{fichaBean.listarAnios}"></f:selectItems>
																				</h:selectOneMenu> <!-- <h:selectOneMenu value="#{fichaBean.documento.sufijoDocumento}"  id="cmbTipoAnio" style="font-size:12px"   rendered="#{fichaBean.modoEditable}"  >         
								                <f:selectItem id="nha0" itemLabel="-Seleccione-" itemValue="" />								              
										        <f:selectItem id="nha3" itemLabel="2015" itemValue="2015" />
										        <f:selectItem id="nha4" itemLabel="2016" itemValue="2016" />
										        <f:selectItem id="nha5" itemLabel="2017" itemValue="2017" />						      								        
								            </h:selectOneMenu> --></td>
																			<td width="50%"><h:outputText
																					id="lblRNorocumentacion2" value="DRE-" /> <h:outputText
																					id="lblRSiglaPersona"
																					value="#{fichaBean.documento.siglasDocumento}"
																					style="font-size:11px" /> <h:outputText
																					id="lblRNorocumentacion" value="/MC" /></td>
																			<!-- -DRE-DGDP-VMPCIC/MC -->
																			<td width="5%"></td>
																		</tr>

																	</table>
																</td>
																<td width="20%"></td>
															</tr>

															<tr>
																<td><h:outputText
																		id="lblAdjuntarArchivo2Documentacion"
																		value="Adjuntar Archivo: " /></td>
																<td><t:inputFileUpload
																		id="filAdjuntarArchivo3Documentacion"
																		value="#{fichaBean.oUpDocumento}"
																		styleClass="inputfUp" /></td>
																<td align="center">

																	<table width="100%">
																		<tr>
																			<td width="50%"><h:commandButton
																					value="Agregar/Editar"
																					action="#{fichaBean.agregarDatosAnexo}"
																					reRender="detallesBody" oncomplete="mostrarMsg()" />
																			</td>
																		</tr>
																		<tr>
																			<td width="50%"><a4j:commandButton
																					id="cbtCancelarAdjuntosArchivo" value="Cancelar"
																					action="#{fichaBean.cancelarModificarAnexoDocumento}"
																					rendered="#{fichaBean.documento.codigoDocumento != null}"
																					reRender="stpFOTOGRAFiA" oncomplete="mostrarMsg()" />
																			</td>
																		</tr>
																	</table>
																</td>

															</tr>

															<!-- 	<tr>
			    				<td colspan="3">
			    				   
			    				</td>
			    				
			    				
			    				</tr>-->


														</table>

													</h:panelGroup>


													<table width="100%">
										
														<tr>
															<td align="center"><br /> <rich:dataTable
																	id="dteDatosDocumentos"
																	value="#{fichaBean.listaDocumento}"
																	binding="#{fichaBean.tablaDocumento}" var="an"
																	style="width:50%;"
																	onRowMouseOver="this.style.backgroundColor='#FBEECA'"
																	onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">

																	<rich:column id="col198" style="text-align:center;"
																		width="8%">
																		<f:facet name="header">
																			<h:outputText id="idw42443" value="Principal"
																				style="font-weight:bold" />
																		</f:facet>
																		<h:selectBooleanCheckbox id="chkSeleccionLis1"
																			value="#{an.flagSeleccion}"
																			disabled="#{!fichaBean.modoEditable}">
																			<a4j:support event="onclick"
																				action="#{fichaBean.seleccionarItems}"
																				reRender="dteDatosDocumentos" />
																		</h:selectBooleanCheckbox>

																	</rich:column>


																	<rich:column id="rcReferenciaUser" width="20%">
																		<f:facet id="fctReferencia" name="header">
																			<h:outputText id="chlblReferenciaUser"
																				value="Usuario Registra" style="font-weight:bold" />
																		</f:facet>
																		<h:outputText id="clblReferenciaUser"
																			value="#{an.usuarioRegistra}"
																			style="font-size: 12px;" />
																	</rich:column>


																	<rich:column id="rcReferencia" width="30%">
																		<f:facet id="fctReferencia" name="header">
																			<h:outputText id="chlblReferencia"
																				value="Número de Informe" style="font-weight:bold" />
																		</f:facet>
																		<h:outputText id="clblReferencia"
																			value="#{an.numeroDocumentoFormato}"
																			style="font-size: 12px;" />
																	</rich:column>




																	<rich:column id="colAccionAdjuntoAnexo" width="20%"
																		style="text-align:center;">
																		<f:facet id="colhAccionAdjuntoAnexo" name="header">
																			<h:outputText id="colhlblAccionAdjuntoAnexo"
																				value="Acción" style="font-weight:bold" />
																		</f:facet>

																		<h:outputLink id="colbtnVerAccionAdjuntoAnexo"
																			value="#{an.rutaAnexoDocumento}" target="_blank"
																			rendered="#{(an.nombreArchivo!=null and an.nombreArchivo!= '')}">
																			<h:graphicImage
																				value="/common/images/iconos/b_ver.png" />
																		</h:outputLink>

																		<rich:toolTip for="colbtnVerAccionAdjuntoAnexo"
																			direction="bottom-left" value="Ver Adjunto"
																			id="ttDireccionDModfiu346" />

																		<a4j:commandButton id="colbtnEditAccionAdjuntoAnexo"
																			image="/common/images/reqincompleto.png"
																			action="#{fichaBean.selecAnexoDocumento}"
																			reRender="dteDatosDocumentos, DocumentacionFormularioRegistro"
																			rendered="#{fichaBean.modoEditable}" />

																		<rich:toolTip for="colbtnEditAccionAdjuntoAnexo"
																			direction="bottom-left" value="Modificar"
																			id="ttDireccionDModfiu3312" />

																		<a4j:commandLink id="colbtnDelAccionAdjuntoAnexo"
																			action="#{fichaBean.eliminarAnexoDocumento}"
																			reRender="dteDatosDocumentos"
																			rendered="#{fichaBean.modoEditable}"
																			oncomplete="mostrarMsg()"
																			onclick="if (!confirm('¿Estas seguro que deseas Eliminar?')){return false;}">
																			<h:graphicImage value="/common/images/remove.png"
																				style="border:0;width : 20px; height : 20px;" />
																		</a4j:commandLink>

																		<rich:toolTip for="colbtnDelAccionAdjuntoAnexo"
																			direction="bottom-left" value="Eliminar"
																			id="ttDireccionDGen12333" />

																	</rich:column>


																	<f:facet name="footer">

																		<h:panelGrid columns="3" columnClasses="alignCenter"
																			fastControls="hide" id="pnlGridDOCPaginacion">
																			<rich:spacer id="rsDOCPag2" width="120" height="10"></rich:spacer>
																			<h:outputText id="lblDOCpagina23" value="Página " />
																			<rich:datascroller id="dsDOCPag"
																				for="dteDatosDocumentos" maxPages="5"
																				fastControls="hide">
																				<f:facet name="previous">
																					<h:outputText id="idDOCAntIni" value="Anterior"
																						styleClass="scrollerCell" />
																				</f:facet>
																				<f:facet name="previous_disabled">
																					<h:outputText id="idDOCAnt" value="Anterior"
																						styleClass="scrollerCell" />
																				</f:facet>
																				<f:facet name="next">
																					<h:outputText id="idDOCSgte" value="Siguiente"
																						styleClass="scrollerCell" />
																				</f:facet>
																				<f:facet name="next_disabled">
																					<h:outputText id="idDOCSgteFin" value="Siguiente"
																						styleClass="scrollerCell" />
																				</f:facet>
																			</rich:datascroller>
																		</h:panelGrid>
																	</f:facet>



																</rich:dataTable></td>
														</tr>
														
																			<tr>
																<td>
																<h:outputText
																		id="lblAdjuntarArchivo2Documentacion_SGD"
																		value="Archivos Ligados desde el sistema de gestion documentaria:" ></h:outputText>
																</td>
																</tr>	
														
																	    				      <tr>
										    					<td  align="center">		<br/>	    				
																	<rich:dataTable id="dteDatosDocumentos_sgd" value="#{fichaBean.listaDocumento_sgd}" binding="#{fichaBean.tablaDocumento_sgd}" var="an" style="width:50%;" 
																					onRowMouseOver="this.style.backgroundColor='#FBEECA'"
																					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">	
										
										
																						<rich:column id="rcReferencia"   width="30%">
																	                            <f:facet id="fctReferencia" name="header">
																	                            	<h:outputText id="chlblReferencia" value="Número de Informe" style="font-weight:bold"/>
																	                            </f:facet>
																	                             <h:outputText id="clblReferenciaa" value="#{an.getNombreAnexoDocumentoSGD()}" style="font-size: 12px;"/>
																	                    </rich:column>
																	                
																					   <rich:column id="Contenido"   width="30%">
																	                            <f:facet id="fctReferencia" name="header">
																	                            	<h:outputText id="vcContenidoDoct" value="Tipo de documento" style="font-weight:bold"/>
																	                            </f:facet>
																	                                  <h:outputText id="clblReferencias" value="#{an.vcTipoDocumento}" style="font-size: 12px;"/>
																	    
																	                        </rich:column>
					                                  							
													  									 <rich:column id="Archivo"   width="30%">
																		                            <f:facet id="Archivo" name="header">
																		                            	<h:outputText id="vcContenidoDoct_archivo" value="Archivo" style="font-weight:bold"/>
																		                            </f:facet>
																		                           <h:commandButton  title="Download_archivo" value="Descargar Archivo" ajaxSingle="true" action="#{an.doDownload}"/>
																		                    </rich:column>
																		                                  
																								           
											                    							

											                    
											                    
											                    <f:facet name="footer">							

									      	<h:panelGrid columns="3" columnClasses="alignCenter"  fastControls="hide" id="pnlGridDOCPaginacion">
								   		       <rich:spacer  id="rsDOCPag2"  width="120" height="10" ></rich:spacer>
								   			 <h:outputText  id="lblDOCpagina23"  value="Página " />
									     	 <rich:datascroller  id="dsDOCPag"  for="dteDatosDocumentos_sgd" maxPages="5"   fastControls="hide"  >
									     	 	<f:facet name="previous">
							                        <h:outputText  id="idDOCAntIni"  value="Anterior" styleClass="scrollerCell" />
							                    </f:facet>
							                    <f:facet name="previous_disabled">
							                        <h:outputText  id="idDOCAnt"  value="Anterior" styleClass="scrollerCell" />
							                    </f:facet>
							                    <f:facet name="next">
							                        <h:outputText  id="idDOCSgte"  value="Siguiente" styleClass="scrollerCell" />
							                    </f:facet>
							                    <f:facet name="next_disabled">
							                        <h:outputText  id="idDOCSgteFin"  value="Siguiente"  styleClass="scrollerCell" />
							                    </f:facet>
									     	 </rich:datascroller>
									       </h:panelGrid>
										  </f:facet>	
										  
										  
										  
										            		</rich:dataTable>
										    					</td>
			    					</tr>
														
														
													</table>
													
													
													

												</rich:simpleTogglePanel></td>

										</tr>


										<tr>

											<td colspan="5"><rich:simpleTogglePanel
													switchType="client" label="Motivo de No Atención"
													id="stpDenegacion" opened="true"
													rendered="#{fichaBean.ficha.motivoNoAtencion!=null and usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilAdministrativo}">

													<h:panelGroup id="ObservadionFormularioRegistroDenegacion">

														<table border="0" cellpadding="4" width="100%">
															<tr>
																<td width="12%"><h:outputText id="lblObserion23"
																		value="Motivo:" /></td>

																<td width="88%"><h:outputText id="lblObserio32n"
																		value="#{fichaBean.ficha.descripcionNoAtencion}"
																		style="font-weight:bold; font-size:13px" /></td>
															</tr>
														</table>
													</h:panelGroup>
												</rich:simpleTogglePanel></td>
										</tr>

										<tr>

											<td colspan="5"><rich:simpleTogglePanel
													switchType="client" label="Observación"
													id="stpObservacionAdkc"
													opened="#{fichaBean.ficha.observacion!=null}"
													rendered="#{fichaBean.ficha.codigoFicha!=null and usuarioBean.sesCodigoPerfil != usuarioBean.ctePerfilAdministrativo}">

													<h:panelGroup id="ObservadionFormularioRegistro">

														<table border="0" cellpadding="4" width="100%">
															<tr>
																<td width="12%"><h:outputText id="lblObserion"
																		value="Observación:" /></td>

																<td width="88%"><h:inputTextarea
																		id="txtObservacionBien"
																		style="font-size: 11px; width : 99%;"
																		value="#{fichaBean.ficha.observacion}" rows="3"
																		maxlength="350"
																		onfocus="agregarContadorCaracteres(this,350)"
																		onkeyup="return limitarCantidadCaracteres(this,350);"
																		onblur="quitarContadorCaracteres(this);"
																		validatorMessage="#{msj.nuevo_consolidacion_detalle_validator}"
																		readonly="#{!fichaBean.modoEditable}">

																	</h:inputTextarea></td>
															</tr>
														</table>
													</h:panelGroup>
												</rich:simpleTogglePanel></td>
										</tr>

										<tr>

											<td align="center" colspan="5"><br></br> <a4j:commandButton
													id="cbtAgregarGuardarRegistro" value="Guardar"
													action="#{fichaBean.guardarExpediente}"
													reRender="detallesBody" oncomplete="mostrarMsg()"
													rendered="#{fichaBean.modoEditable}" /> <rich:spacer
													id="idEspacioBotonsd1" width="20" height="10"></rich:spacer>


												<a4j:commandButton id="iAgregarNoAtencionGuardar"
													value="No Atención"
													action="#{fichaBean.inicializarNoAtencion}"
													reRender="panelModalNoAtencion"
													oncomplete="Richfaces.showModalPanel('pnlNoAtencion');"
													rendered="#{fichaBean.modoEditable  and usuarioBean.sesCodigoPerfil == usuarioBean.ctePerfilRegistrador and fichaBean.ficha.numeroCertificado==null and fichaBean.ficha.estadoFicha!='D' and fichaBean.ficha.estadoFicha!='B'}" />
												<rich:spacer id="idEspacioBotonsd123" width="20" height="10"></rich:spacer>

												<rich:toolTip id="tM183INAt" for="iAgregarNoAtencionGuardar"
													direction="top-left"
													value="Registrar Motivo de no atención" /> <a4j:commandButton
													value="Salir" id="cmbFormRegistro" reRender="detallesBody"
													oncomplete="mostrarMsg()"
													action="#{fichaBean.salirFormulario}">
													<a4j:actionparam name="ruta"
														value="/pages/registro/bandejaRegistroCertificados.xhtml"
														assignTo="#{beanLinkMenu.ruta}" />
												</a4j:commandButton></td>

										</tr>


									</table>

								</div>
							</td>

						</tr>



					</table>
				</h:panelGroup>
			</div>

			<div class="msgInfo" id="msg">
				<rich:messages ajaxRendered="true" infoClass="rf-msgs-inf"
					warnClass="rf-msgs-wrn" errorClass="rf-msgs-err" />
			</div>

		</a4j:form>
	</f:subview>



	<rich:modalPanel id="waitPanel2" style="text-align:center"
		autosized="true">
		<h:graphicImage value="/common/images/loading42.gif" style="border:0;" />
	</rich:modalPanel>

	<!--  -->
	<rich:modalPanel id="pnlRZDosCredito9" width="550" height="400">

		<f:facet name="header">
			<h:outputText id="lblpnlRZ1DosCredito9"
				value="ASIGNACIÓN DE EXPEDIENTES" />
		</f:facet>
		<f:facet name="controls">
			<h:graphicImage value="/common/images/close.png"
				style="cursor:pointer"
				onclick="Richfaces.hideModalPanel('pnlRZDosCredito9')" />
		</f:facet>
		<f:subview id="svfrmExpMdlDerivarRZ1Credito9">
			<a4j:form id="modalRZDosCredito9" style="width: 100%;height: 100%">

				<rich:panel id="panelModalRZDosCredito9">


					<!--     <div  >  -->
					<h:panelGroup id="camposRZCredito9">
						<table>
							<tr>
								<td width="88%">
									<table width="100%" border="0">
										<tr>
											<td width="70%"></td>
											<td width="30%"></td>
										</tr>



										<tr>
											<td width="100%" colspan="2"><br></br> <rich:dataTable
													id="tableAsignacion9" value="#{fichaBean.listAsignacion}"
													var="mi" rows="10" style="margin:auto;width:60%;"
													onRowMouseOver="this.style.backgroundColor='#def'"
													onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">


													<rich:column style="width:15%; text-align:center;"
														id="rcsdsaf9">
														<f:facet name="header" styleClass="TitTablaAzul">
															<h:outputText id="tbloupnlMI9" value="Código Bien"
																style="font-weight: bold ; text-align:center;" />
														</f:facet>
														<h:outputText id="tblblinnroSiMI9"
															value="#{mi.numeroBien}" />
													</rich:column>

													<rich:column style="width:8%; text-align:center;"
														id="rcsdgsdfsf9">
														<f:facet name="header" styleClass="TitTablaAzul">
															<h:outputText id="tblouCantidad9" value="Utilizado"
																style="font-weight: bold ; text-align:center;" />
														</f:facet>
														<h:outputText id="tblblCantidad9"
															value="#{mi.utilizado=='S'?'Si':'No'}"
															style="text-align:center; " />
													</rich:column>




													<f:facet name="footer">

														<h:panelGrid columns="5" columnClasses="alignCenter"
															fastControls="hide" id="paginacion172129">


															<h:outputText id="idw18369" value="Página " />
															<rich:datascroller id="idw18459" for="tableAsignacion9"
																maxPages="3" fastControls="hide">
																<f:facet name="previous">
																	<h:outputText id="idw18649" value="Anterior"
																		styleClass="scrollerCell" />
																</f:facet>
																<f:facet name="previous_disabled">
																	<h:outputText id="idw18739" value="Anterior"
																		styleClass="scrollerCell" />
																</f:facet>
																<f:facet name="next">
																	<h:outputText id="idw18829" value="Siguiente"
																		styleClass="scrollerCell" />
																</f:facet>
																<f:facet name="next_disabled">
																	<h:outputText id="idw18919" value="Siguiente"
																		styleClass="scrollerCell" />
																</f:facet>
															</rich:datascroller>
														</h:panelGrid>

													</f:facet>

												</rich:dataTable></td>
										</tr>


									</table>
								</td>
								<td width="2%"></td>
								<td width="10%" align="right"><h:commandLink
										id="salirReqBienes2Credito2" styleClass="btnInteriores"
										onclick="Richfaces.hideModalPanel('pnlRZDosCredito9')">
										<span class="salir">Salir</span>
									</h:commandLink></td>
							</tr>
						</table>
						<!--     </div>  -->
					</h:panelGroup>

				</rich:panel>

			</a4j:form>
		</f:subview>

	</rich:modalPanel>





	<!-- MODAL PARA CANCELACION COMPROBANTE A CREDITO -->

	<rich:modalPanel id="pnlNoAtencion" width="550" height="200">

		<f:facet name="header">
			<h:outputText id="lblpnlNoAtencion"
				value="MOTIVO DE NO ATENCIÓN DEL EXPEDIENTE" />
		</f:facet>
		<f:facet name="controls">
			<h:graphicImage value="/common/images/close.png"
				style="cursor:pointer"
				onclick="Richfaces.hideModalPanel('pnlNoAtencion')" />
		</f:facet>
		<f:subview id="svfrmExpMdlDerivarNoAtencion">
			<a4j:form id="modalNoAtencion" style="width: 100%;height: 100%">

				<rich:panel id="panelModalNoAtencion">


					<!--     <div  >  -->
					<h:panelGroup id="camposNoAtencion">
						<table>
							<tr>
								<td width="88%">
									<table width="100%" border="0">
										<tr>
											<td width="70%"></td>
											<td width="30%"></td>
										</tr>

										<tr>
											<td width="100%" colspan="2">
												<table width="100%">

													<tr>
														<td><h:outputText id="lblNroExpedienteNoAtencion"
																value="N° Expediente:" /></td>

														<td><h:outputText id="txtNroExpedienteNoAtencion"
																value="#{fichaBean.numeroExpedienteAsignado}"
																style="font-weight:bold; font-size:14px">

															</h:outputText></td>

													</tr>



													<tr>


														<td width="20%" align="left"><h:outputText
																id="lblUsuarioRegistroNoAtencion" value="Motivo:" /></td>
														<td width="60%" align="left"><h:selectOneMenu
																value="#{fichaBean.ficha.motivoNoAtencion}"
																id="cmbNoAtencion">
																<f:selectItem itemValue="" itemLabel="Seleccione" />
																<f:selectItem itemValue="A"
																	itemLabel="Abandono del trámite" />
																<f:selectItem itemValue="D"
																	itemLabel="Denegación de todos los bienes solicitados para exportación" />
															</h:selectOneMenu></td>
													</tr>



												</table>
											</td>
										</tr>


										<tr>
											<td width="100%" colspan="2"><br></br></td>
										</tr>


									</table>
								</td>
								<td width="2%"></td>
								<td width="10%" align="right"><a4j:commandLink
										id="lnkpnlRZ2DosCreditoNoAtencion" styleClass="btnInteriores"
										action="#{fichaBean.guardarMotivoNoAtencion}"
										reRender="camposNoAtencion, stpDenegacion"
										oncomplete="mostrarMsg()">
										<span class="nuevo">Guardar</span>
									</a4j:commandLink> <h:commandLink id="salirReqBienes2CreditoNoAtencion"
										styleClass="btnInteriores"
										onclick="Richfaces.hideModalPanel('pnlNoAtencion')">
										<span class="salir">Salir</span>
									</h:commandLink></td>
							</tr>
						</table>
						<!--     </div>  -->
					</h:panelGroup>

				</rich:panel>

			</a4j:form>
		</f:subview>

	</rich:modalPanel>


</ui:composition>

</html>
